<footer role="contentinfo">
    <div class="clearfix">
        <button class="pull-right btn btn-link btn-xs hidden-print" id="back-to-top">
            <i class="ti ti-arrow-up"></i>
        </button>
    </div>
</footer>
<script type="text/javascript" src="/assets/js/jquery-1.10.2.min.js"></script>
<!-- Load jQuery -->
<script type="text/javascript" src="/assets/js/jqueryui-1.10.3.min.js"></script>
<!-- Load jQueryUI -->
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<!-- Load Bootstrap -->
<script type="text/javascript" src="/assets/js/enquire.min.js"></script>
<!-- Load Enquire -->
<script type="text/javascript" src="/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/assets/plugins/velocityjs/velocity.min.js"></script>
<!-- Load Velocity for Animated Content -->
<script type="text/javascript" src="/assets/plugins/velocityjs/velocity.ui.min.js"></script>
<script type="text/javascript" src="/assets/plugins/wijets/wijets.js"></script>
<!-- Wijet -->
<script type="text/javascript" src="/assets/plugins/codeprettifier/prettify.js"></script>
<!-- Code Prettifier  -->

<script type="text/javascript" src="/assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>
<!-- Bootstrap Tabdrop -->
<script type="text/javascript" src="/assets/plugins/iCheck/icheck.min.js"></script>
<!-- iCheck -->
<script type="text/javascript" src="/assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js"></script>
<!-- nano scroller -->
<script type="text/javascript" src="/assets/js/application.js"></script>

<script type="text/javascript" src="/assets/plugins/pulsate/jQuery.pulsate.min.js"></script>
<!-- set pulse on box hover effect -->

<script type="text/javascript" src="/assets/plugins/form-validation/jquery.validate.min.js"></script>
<!-- Validate Plugin -->
<script type="text/javascript" src="/assets/plugins/form-stepy/jquery.stepy.js"></script>
<!-- Stepy Plugin  for form-->
<script type="text/javascript" src="/assets/demo/demo-formwizard.js"></script>

<script type="text/javascript" src="/assets/plugins/datatables/jquery.dataTables.js"></script>
<!-- Data Tables -->
<script type="text/javascript" src="/assets/plugins/datatables/dataTables.bootstrap.js"></script>
<!-- Bootstrap Support for Datatables -->
<script type="text/javascript" src="/assets/plugins/tables-fixedheader/js/dataTables.fixedHeader.js"></script>
<!-- Fixed Header -->
<script type="text/javascript" src="/assets/demo/demo-datatables.js"></script>

<script type="text/javascript" src="/assets/plugins/bootbox/bootbox.js"></script>
<!-- Bootbox -->
<script type="text/javascript" src="/assets/plugins/form-jasnyupload/fileinput.min.js"></script>
<!-- File Input -->
<script type="text/javascript" src="/assets/plugins/dropzone/dropzone.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" crossorigin="anonymous"></script>


<!-- Dropzone Plugin -->


<script>

    function getUnpaid() {
        $.ajax({
            type: "GET",
            url: "/getUnpaid",
            success: function (data) {
                $('#paidTotal').text(data.paidTotal)
                $('#unpaidTotal').text(data.unpaidTotal)
                $('#totalUser').text(data.paidTotal + data.unpaidTotal)
                var dataf = data.unpaid
                console.log(dataf)
                dataf.forEach(element => {
                    var d = new Date(element.dRecivedDate).toDateString()
                    $("#abcd").append(' <li class="media notification-midnightblue">  <a href= "/loan_client_edit/' + element._id + '">   <div class="media-left">  <span class="notification-icon">  <i class="ti ti-user"></i> </span> </div> <div class="media-body">  <h4 class="notification-heading" id="notification-heading">' + element.sName + '</h4> <span class="notification-time" id="notification-time">' + d + ' </span> </div> </a> </li>');
                })
            }
        })
    }

    function getBank() {
        $.ajax({
            type: "GET",
            url: "/getBank",
            success: function (data) {
                var mySelect = $('#bank_list');
                mySelect.append('<option selected="true" disabled> -- Select Bank -- </option>')
                data.forEach(function (data) {
                    mySelect.append(" <option>" + data.sBankName + "</option >")
                })
                console.log(data)
            }
        });
    }
    function getBoth() {
        getUnpaid()
        getBank()
    }
    $("#bank_list").change(function (e) {
        var value = $("#bank_list").val()
        $.ajax({
            type: "POST",
            url: "/getBranch",
            data: { sBankName: value },
            success: function (data) {
                var appendd = "";
                var drop = $('#branch_list');
                drop.empty();
                                drop.append('<option selected="true" disabled> -- Select Branch -- </option>')

                data.forEach(function (data) {
                    appendd += " <option>" + data.sBranchName + "</option >";
                })
                $('#branch_list').append(appendd)
            }
        });

    })


    $(document).ready(function () {
        $('#datepicker').datepicker({ format: "dd-mm-yyyy" });
        $("#datepicker2").datepicker({ format: "dd-mm-yyyy", defaultDate: +0 });
        $("#datepicker3").datepicker({ format: "dd-mm-yyyy", defaultDate: +0 });
        $("#datepicker4").datepicker({ format: "dd-mm-yyyy", defaultDate: +0 });
        $("#datepicker5").datepicker({ format: "dd-mm-yyyy", defaultDate: +0 });
        $("#pulsate5").pulsate({ pause: 3000 });
    });
    if ($("#paid").is(':checked')) {
        $("#payment_type").show();
    }
    function ShowPayment() {
        $("#payment_type").show();
    }
    function HidePayment() {
        $("#payment_type").hide();
        $("#cash").prop('checked', false);
        $("#cheque").prop('checked', false);
        $("#neft").prop('checked', false);
    }
    $(".numbers").keypress(function (e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57))
            return false;
    });

    function ShowApprov() {
        $("#layout_approved").show();
    }
    function HideApprov() {
        $("#layout_approved").hide();
        $('#layout_date_num').val('');
        $('#layout_authority').val('');
    }
    function ShowPlanApprov() {
        $("#plan_approved").show();
    }
    function HidePlanApprov() {
        $("#plan_approved").hide();
        $('#building_date_num').val('');
        $('#building_authority').val('');
    }
    function ShowPerApprov() {
        $("#per_approved").show();
    }
    function HidePerApprov() {
        $("#per_approved").hide();
        $('#construction_date_num').val('');
        $('#construction_authority').val('');
    }
    function ShowBuApprov() {
        $("#bu_approved").show();
    }
    function HideBuApprov() {
        $("#bu_approved").hide();
        $('#bu_date_num').val('');
        $('#bu_authority').val('');
    }
    function total_fee() {
        if (!$('#fees').val()) {
            alert('Please Feelup Fees Amount');
            $('#total_fees').val('0');
        } else {
            var fees = $("#fees").val();
            var tax = $("#tax").val();

            var cal_tax = (fees * tax) / 100;
            var total = parseFloat(fees) + parseFloat(cal_tax);
            $('#total_fees').val(total);
        }

    }
</script>