<header id="topnav" class="navbar navbar-default navbar-fixed-top" role="banner" >
    <div class="logo-area">
        <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg">
            <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
                <span class="icon-bg">
                    <i class="ti ti-menu"></i>
                </span>
            </a>
        </span>
        <a class="navbar-brand" href="/">Bank</a>
    </div>
    <!-- logo-area -->

    <ul class="nav navbar-nav toolbar pull-right">
        <li class="toolbar-icon-bg hidden-xs" id="trigger-fullscreen">
            <a href="#" class="toggle-fullscreen">
                <span class="icon-bg">
                    <i class="ti ti-fullscreen"></i>
                </span>
                </i>
            </a>
        </li>
         {{#if admin}}
        <li class="dropdown toolbar-icon-bg">
            <a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown'>
                <span class="icon-bg">
                    <i class="ti ti-bell"></i>
                </span>
                <span class="badge badge-deeporange" id="pulsate5">
                </span>
            </a>
           
            <div class="dropdown-menu notifications arrow">
                <div class="topnav-dropdown-header">
                    <span>Unpaid Clients Notifications</span>
                </div>
                <div class="scroll-pane">
                    <ul class="media-list scroll-content" id="abcd">
                       
                    </ul>
                </div>
                <div class="topnav-dropdown-footer">
                    <a href="loan_client_data">See all notifications</a>
                </div>
            </div>
            {{/if}}
        </li>
        <li class="dropdown toolbar-icon-bg">
            <a href="#" class="dropdown-toggle username" data-toggle="dropdown">

                <img src="/assets/img/default_avatar.png" class="img-circle">

            </a>
            <ul class="dropdown-menu userinfo arrow">
                <li>
                    <a href="profile">
                        <i class="ti ti-user"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="logout">
                        <i class="ti ti-shift-right"></i>
                        <span>Sign Out</span>
                    </a>
                </li>
                <li class="divider"></li>
            </ul>
        </li>

    </ul>

</header>