<div class="static-sidebar-wrapper sidebar-midnightblue">
    <div class="static-sidebar">
        <div class="sidebar">
            <div class="widget">
                <div class="widget-body">
                    <div class="userinfo">
                        <div class="avatar">
                            <a href="/profile">
                                <img src="/assets/img/default_avatar.png" class="img-responsive img-circle">
                            </a>
                        </div>
                        <div class="info">
                            <span class="username">{{user.sFullname}}
                            </span>
                            <br>
                            <span class="useremail">{{user.sEmail}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget stay-on-collapse" id="widget-sidebar">
                <nav role="navigation" class="widget-body">
                    <ul class="acc-menu">
                        <li class="nav-separator">
                            <span>Explore</span>
                        </li>
                        <li>
                            <a href="/dashboard">
                                <i class="ti ti-home"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="/loan_form">
                                <i class="ti ti-view-list-alt"></i>
                                <span>Loan Form</span>
                            </a>
                        </li>
                        <li>
                            <a href="/valuation_report_a">
                                <i class="ti ti-pencil"></i>
                                <span>Valuation Report A</span>
                            </a>
                        </li>
                        <li>
                            <a href="/valuation_report_b">
                                <i class="ti ti-pencil"></i>
                                <span>Valuation Report B</span>
                            </a>
                        </li>
                        <li>
                            <a href="/valuation_report_lap">
                                <i class="ti ti-pencil"></i>
                                <span>Valuation Report For Lap</span>
                            </a>
                        </li>
                       {{#if admin}}
                       <li>
                            <a href="/user_data">
                                <i class="fa fa-users"></i>
                                <span>Users</span>
                            </a>
                        </li>
                        {{/if}}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>