<link type='text/css' href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600' rel='stylesheet'>
<link type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!-- Font Awesome -->
<link type="text/css" href="/assets/fonts/themify-icons/themify-icons.css" rel="stylesheet">
<!-- Themify Icons -->
<link type="text/css" href="/assets/css/styles.css" rel="stylesheet">
<!-- Core CSS with all styles -->
<link type="text/css" href="/assets/plugins/codeprettifier/prettify.css" rel="stylesheet">
<!-- Code Prettifier -->
<link type="text/css" href="/assets/plugins/iCheck/skins/minimal/blue.css" rel="stylesheet">
<!-- iCheck -->
<link type="text/css" href="/assets/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet">
<link type="text/css" href="/assets/plugins/datatables/dataTables.themify.css" rel="stylesheet">
<!--[if lt IE 10]>
	<script type="text/javascript" src="assets/js/media.match.min.js"></script>
	<script type="text/javascript" src="assets/js/respond.min.js"></script>
	<script type="text/javascript" src="assets/js/placeholder.min.js"></script>
<![endif]-->