<!DOCTYPE html>
<html lang="en" class="coming-soon">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <link rel="icon" href="../../public/assets/img/favicon.ico" type="image/x-icon" />

    <!-- Css Top -->
    {{> _top}}
    <!-- -->
</head>
<body > 
    {{{body}}}
</body>
</html>

 {{!--onload="getUnpaid()"  --}}