 {{> _top}}

<body class="animated-content" onload="getBoth()">
    <!-- Header -->
    {{> _nav}}
    <!-- Header -->
    <div id="wrapper">
        <div id="layout-static">
            {{> _sidebar}}
            <div class="static-content-wrapper">
                <div class="static-content">
                    <div class="page-content">
                        <ol class="breadcrumb">
                            <li>
                                <a href="/dashboard">Home</a>
                            </li>
                            <li>
                                <a href="/bank_data">Banks</a>
                            </li>
                            <li class="active">
                                <a href="/loan_form">Add Bank</a>
                            </li>
                        </ol>
                        <div class="container-fluid">
                            {{> _msg}} {{> _err}}
                            <div data-widget-group="group1">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="panel panel-default" data-widget='{"draggable": "false"}'>
                                            <div class="panel-heading">
                                                <h2>Add Bank</h2>
                                            </div>
                                            <div class="panel-body">
                                                <form class="form-horizontal" action="/add_bank" method="post">
                                                    <div class="form-group">
                                                        <label for="focusedinput" class="col-sm-2 control-label">Name of Bank</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" name="sBankName" id="focusedinput" placeholder="Name of Bank" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="txtarea1" class="col-sm-2 control-label">Other Detail</label>
                                                        <div class="col-sm-8">
                                                            <textarea name="sBankDetail" id="txtarea1" cols="50" rows="4" class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="panel-footer">
                                                        <div class="row">
                                                            <div class="col-sm-8 col-sm-offset-2">
                                                                <button class="btn-info btn" type="submit" name="add_bank">Add</button>
                                                                <button class="btn-inverse btn" type="reset">Reset</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .container-fluid -->
                    </div>
                    <!-- #page-content -->
                </div>
            <!-- footer -->
            {{> _footer}}
            
            </div>
            </div>
            </div>