 {{> _top}}

<body class="animated-content" onload="getBoth()">
    <!-- Header -->
    {{> _nav}}
    <!-- Header -->
    <div id="wrapper">
        <div id="layout-static">
            {{> _sidebar}}
            <div class="static-content-wrapper">
                <div class="static-content">
                    <div class="page-content">
                        <ol class="breadcrumb">
                            <li>
                                <a href="/dashboard">Home</a>
                            </li>
                            <li>
                                <a href="/branch_data">Branch</a>
                            </li>
                            <li class="active">
                                <a href="/branch_edit">Edit Bank</a>
                            </li>
                        </ol>
                        <div class="container-fluid">
                        {{> _msg}} {{> _err}}

                            <div data-widget-group="group1">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="panel panel-default" data-widget='{"draggable": "false"}'>
                                            <div class="panel-heading">
                                                <h2>Edit Branch</h2>
                                            </div>
                                            <div class="panel-body">
                                                <form class="form-horizontal"  action="/branch_edit/{{bank.id}}?_method=PUT" method="post">
                                                    <input type="hidden" name="_method" value="PUT">
                                                    <div class="form-group">
                                                        <label for="focusedinput" class="col-sm-2 control-label">Main Bank</label>
                                                        <div class="col-sm-8">
                                                            <select class="form-control" name="sBankName" id="bank_list" name="sBankName" required>
                                                                <option value=""> -- Select Bank -- </option>
                                                            </select>
                                                        </div>
                                                    </div>
        
                                                    <div class="form-group">
                                                        <label for="focusedinput" class="col-sm-2 control-label">Name of Branch</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" name="sBranchName" id="branch_name" value="{{bank.sBranchName}}" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="txtarea1" class="col-sm-2 control-label">Other Detail</label>
                                                        <div class="col-sm-8">
                                                            <textarea name="sBranchDetail" id="txtarea1" cols="50" rows="4" class="form-control">{{bank.sBranchDetail}}</textarea>
                                                        </div>
                                                    </div>
              
                                                    <div class="panel-footer">
                                                        <div class="row">
                                                            <div class="col-sm-8 col-sm-offset-2">
                                                                <button class="btn-info btn" type="submit" name="save_branch">Save</button>
                                                                <button class="btn-inverse btn" type="reset">Reset</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .container-fluid -->
                    </div>
                    <!-- #page-content -->
                </div>
                <!-- footer -->
             {{> _footer}}
            
            </div>
            </div>
            </div>
