 {{> _top}}

<body class="animated-content" onload="getBoth()">
    <!-- Header -->
    {{> _nav}}
    <!-- Header -->
    <div id="wrapper">
        <div id="layout-static">
            {{> _sidebar}}
                <div class="static-content-wrapper">
                    <div class="static-content">
                        <div class="page-content">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="/dashboard">Home</a>
                                </li>
                                <li class="active">
                                    <a href="/bank_data">Branch</a>
                                </li>
                            </ol>
                            <div class="col-md-2 pull-right">
                                <a href="/add_bank_branch">
                                    <button class="btn btn-block btn-info">Add Branch</button>
                                </a>
                                <br>
                            </div>
                            <div class="container-fluid">
                            {{> _msg}} {{> _err}}
                                <div data-widget-group="group1">
                                    <div class="row">
                                        <div class="col-md-12 table-responsive">
                                            <div class="panel panel-default ">
                                                <div class="panel-heading">
                                                    <h2>Branch</h2>
                                                    <div class="panel-ctrls"></div>
                                                </div>
                                                <div class="panel-body no-padding">
                                                    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Bank</th>
                                                                <th>Branch Name</th>
                                                                <th>Branch Detail</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {{#each data}}

                                                                <td>{{this.bank.sBankName}}</td>
                                                                <td>{{this.data.sBranchName}}</td> 
                                                                <td>{{this.data.sBranchDetail}}</td>
                                                                <td>
                                                                    <a href="branch_edit/{{this.data._id}}">
                                                                        <i class="far fa-edit"></i>
                                                                    </a>
                                                                    <form id="{{this.data._id}}" method="post" action="/deleteBranch/{{this.data._id}}?_method=DELETE" style=" display:inline!important; ">
                                                                        <input type="hidden" name="_method" value="DELETE">
                                                                        <a href="javascript:{}" onclick="document.getElementById('{{this.data._id}}').submit();" style="color:red">
                                                                            <i class="fas fa-ban"></i>
                                                                        </a>
                                                                    </form>
                                                                </td>
                                                                </tr>
                                                            {{/each}}
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="panel-footer"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- .container-fluid -->
                        </div>
                        <!-- #page-content -->
                    </div>
                    <!-- footer -->
     {{> _footer}}
    
    </div>
    </div>
    </div>