<!-- Css Top -->
{{> _top}}
<!-- -->
<body class="animated-content" onload="getBoth()">
    <!-- Header -->
    {{> _nav}}

    <!-- Header -->
    <div id="wrapper">
        <div id="layout-static">
            {{> _sidebar}}
            <div class="static-content-wrapper">
                <div class="static-content">
                    <div class="page-content">
                        <ol class="breadcrumb">
                            <li class="">
                                <a href="/dashboard">Home</a>
                            </li>
                            <li class="active">
                                <a href="/Dashboard">Dashboard</a>
                            </li>
                        </ol>
                        <div class="container-fluid">
                                {{> _msg}} {{> _err}}
                                {{#if admin}}
								<div class="row">
									<div class="col-md-4">
										<div class="info-tile tile-danger">
											<div class="tile-icon"><i class="ti ti-stats-up"></i></div>
											<div class="tile-heading"><span>Total Clients</span></div>
											<div class="tile-body"><span id="totalUser">{{total}}</span></div>
											<div class="tile-footer"><span class="text-info"><i class="fas fa-level-up-alt"></i></span></div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="info-tile tile-info">
											<div class="tile-icon"><i class="ti ti-bar-chart"></i></div>
											<div class="tile-heading"><span>Paid Client's</span></div>
											<div class="tile-body"><span id="paidTotal"></span></div>
											<div class="tile-footer"><span class="text-success"><i class="fas fa-level-up-alt"></i></span></div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="info-tile tile-success">
											<div class="tile-icon"><i class="ti ti-bar-chart-alt"></i></div>
											<div class="tile-heading"><span>UnPaid Client's</span></div>
											<div class="tile-body"><span id="unpaidTotal"></span></div>
											<div class="tile-footer"><span class="text-danger"><i class="fas fa-level-up-alt"></i></span></div>
										</div>
									</div>
								</div>
								<div data-widget-group="group1">
									<div class="row">
										<div class="col-md-4">
											<div class="panel panel-white" data-widget='{"draggable": "false"}'>
												<div class="panel-heading">
													<h2>View Bank</h2>
													<div class="panel-ctrls button-icon-bg" 
														data-actions-container="" 
														data-action-refresh-demo='{"type": "circular"}'
														>
													</div>
												</div>
												<div class="panel-body">
													<ul class="widget-avatar">
														<li data-status="online"></li>
														<li data-status="online"></li>
														<li data-status="online"></li>
														<li data-status="away"></li>
														<li data-status="busy"></li>
													</ul>
													<a href="bank_data"><button class="btn btn-block btn-primary">View Bank</button></a>
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="panel panel-white" data-widget='{"draggable": "false"}'>
												<div class="panel-heading">
													<h2>View Branch</h2>
													<div class="panel-ctrls button-icon-bg" 
														data-actions-container="" 
														data-action-refresh-demo='{"type": "circular"}'
														>
													</div>
												</div>
												<div class="panel-body">
													<ul class="widget-avatar">
														<li data-status="online"></li>
														<li data-status="online"></li>
														<li data-status="online"></li>
														<li data-status="away"></li>
														<li data-status="busy"></li>
													</ul>
													<a href="/branch_data"><button class="btn btn-block btn-inverse">View Branch</button></a>
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="panel panel-white" data-widget='{"draggable": "false"}'>
												<div class="panel-heading">
													<h2>View Loan Data</h2>
													<div class="panel-ctrls button-icon-bg" 
														data-actions-container="" 
														data-action-refresh-demo='{"type": "circular"}'
														>
													</div>
												</div>
												<div class="panel-body">
													<ul class="widget-avatar">
														<li data-status="online"></li>
														<li data-status="online"></li>
														<li data-status="online"></li>
														<li data-status="away"></li>
														<li data-status="busy"></li>
													</ul>
													<a href="/loan_client_data"><button class="btn btn-block btn-info">View Loan Data</button></a>
												</div>
											</div>
										</div>										
									</div>
								</div>
                                {{/if}}
                            <div data-widget-group="group1">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="panel panel-white" data-widget='{"draggable": "false"}'>
                                            <div class="panel-heading">
                                                <h2>Valuation Report A</h2>
                                                <div class="panel-ctrls button-icon-bg" data-actions-container="" data-action-refresh-demo='{"type": "circular"}'>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <ul class="widget-avatar">
                                                    <li data-status="online"></li>
                                                    <li data-status="online"></li>
                                                    <li data-status="online"></li>
                                                    <li data-status="away"></li>
                                                    <li data-status="busy"></li>
                                                </ul>
                                                <a href="/valuation_report_a_view">
                                                    <button class="btn btn-block btn-info">Valuation Report A</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="panel panel-white" data-widget='{"draggable": "false"}'>
                                            <div class="panel-heading">
                                                <h2>Valuation Report B</h2>
                                                <div class="panel-ctrls button-icon-bg" data-actions-container="" data-action-refresh-demo='{"type": "circular"}'>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <ul class="widget-avatar">
                                                    <li data-status="online"></li>
                                                    <li data-status="online"></li>
                                                    <li data-status="online"></li>
                                                    <li data-status="away"></li>
                                                    <li data-status="busy"></li>
                                                </ul>
                                                <a href="/valuation_report_b_view">
                                                    <button class="btn btn-block btn-inverse">Valuation Report B</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="panel panel-white" data-widget='{"draggable": "false"}'>
                                            <div class="panel-heading">
                                                <h2>Valuation Report Lap</h2>
                                                <div class="panel-ctrls button-icon-bg" data-actions-container="" data-action-refresh-demo='{"type": "circular"}'>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <ul class="widget-avatar">
                                                    <li data-status="online"></li>
                                                    <li data-status="online"></li>
                                                    <li data-status="online"></li>
                                                    <li data-status="away"></li>
                                                    <li data-status="busy"></li>
                                                </ul>
                                                <a href="/valuation_report_lap_view">
                                                    <button class="btn btn-block btn-primary">Valuation Report Lap</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    {{!-- <div class="col-md-3">
                                        <div class="panel panel-white" data-widget='{"draggable": "false"}'>
                                            <div class="panel-heading">
                                                <h2>All Reports</h2>
                                                <div class="panel-ctrls button-icon-bg" data-actions-container="" data-action-refresh-demo='{"type": "circular"}'>
                                                </div>
                                            </div>
                                           <div class="panel-body">
                                                <ul class="widget-avatar">
                                                    <li data-status="online"></li>
                                                    <li data-status="online"></li>
                                                    <li data-status="online"></li>
                                                    <li data-status="away"></li>
                                                    <li data-status="busy"></li>
                                                </ul>
                                                <a href="/reports_data">
                                                    <button class="btn btn-block btn-inverse">View All Reports</button>
                                                </a>
                                            </div> 
                                        </div>
                                    </div> --}}
                                </div>
                            </div>
                        </div>
                        <!-- .container-fluid -->
                    </div>
                    <!-- #page-content -->
                </div>
                {{> _footer}}
            </div>
        </div>
    </div>
</body>