
{{> _top}}    

    <body class="animated-content" onload="getBoth()">
        <!-- Header -->
        {{> _nav}}
        <!-- Header -->
        <div id="wrapper">
            {{> _sidebar}}
            <div class="static-content-wrapper">
                <div class="static-content">
                    <div class="page-content">
                        <ol class="breadcrumb">
                            <li>
                                <a href="/dashboard">Home</a>
                            </li>
                            <li class="active">
                                <a href="/loan_form">Loan Form</a>
                            </li>
                        </ol>
                        <div class="container-fluid">
                            {{> _msg}} {{> _err}}
                            <div data-widget-group="group1">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="panel panel-default" data-widget='{"draggable": "false"}'>
                                            <div class="panel-heading">
                                                <h2>Loan Form</h2>
                                            </div>
                                            <div class="panel-body">
                                                <form class="form-horizontal tabular-form" action="/loan_form" method="post" >
                                                    <div class="form-group">
                                                        <label for="focusedinput" class="col-sm-2 control-label">Name of Applicant</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" name="sName" value="{{sName}}" id="focusedinput" placeholder="Name of Applicant" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="checkbox" class="col-sm-2 control-label">Purpose</label>
                                                        <div class="col-sm-8">
                                                            <div class="checkbox-inline">
                                                                <label>
                                                                    <input type="checkbox" name="sPurpose" value="Loan" checked> Loan</label>
                                                            </div>
                                                            <div class="checkbox-inline">
                                                                <label>
                                                                    <input type="checkbox" name="sPurpose" value="Local"> Local</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Bank</label>
                                                        <div class="col-sm-8">
                                                            <select class="form-control" name="sBankName" id="bank_list" name="sBankName" onchange="getBranch(this.value)" required>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Branch</label>
                                                        <div class="col-sm-8">
                                                            <select class="form-control"   id="branch_list" name="sBranchName"  required>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="checkbox" class="col-sm-2 control-label">Date of Received</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" id="datepicker" value="{{dRecivedDate}}" name="dRecivedDate" class="form-control" placeholder="dd-mm-yyyy" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="checkbox" class="col-sm-2 control-label">Date of Sent</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" id="datepicker2" value="{{dSentDate}}" name="dSentDate" class="form-control" placeholder="dd-mm-yyyy" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="focusedinput" class="col-sm-2 control-label">Visit done by</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" value="{{sVisitDoneBy}}" name="sVisitDoneBy" id="focusedinput" placeholder="Visit done by" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="focusedinput" class="col-sm-2 control-label">Fees</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" name="nFees" value="{{nFees}}" id="fees" required onchange="total_fee()">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="focusedinput" class="col-sm-2 control-label">Tax</label>
                                                        <div class="col-sm-2 input-group tabular-border">
                                                            <input type="text" class="form-control number" id="tax" value="{{nTax}}" name="nTax" onchange="total_fee()">
                                                            <span class="input-group-addon">%</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="focusedinput" class="col-sm-2 control-label">Total</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" value="{{nTotalFees}}" name="nTotalFees" id="total_fees" placeholder="0" readonly onfocus="this.blur()">
                                                        </div>
                                                    </div>
                                                    {{#if admin}} 
                                                    <div class="form-group">
                                                        <label for="radio" class="col-sm-2 control-label">Paid / Unpaid</label>
                                                        <div class="col-sm-8">
                                                            <div class="radio-inline">
                                                                <label>
                                                                    <input type="radio" name="ePaidunpaid" value="Paid" onclick="ShowPayment();"> Paid</label>
                                                            </div>
                                                            <div class="radio-inline">
                                                                <label>
                                                                    <input type="radio" name="ePaidunpaid" value="Unpaid"  checked onclick="HidePayment();"
                                                                        checked> Unpaid</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" id="payment_type" style="display:none;">
                                                        <label for="radio" class="col-sm-2 control-label">Cash / Cheque</label>
                                                        <div class="col-sm-8">
                                                            <div class="radio-inline">
                                                                <label>
                                                                    <input type="radio" name="sCashOrCheque" id="cash" value="Cash"> Cash</label>
                                                            </div>
                                                            <div class="radio-inline">
                                                                <label>
                                                                    <input type="radio" name="sCashOrCheque" id="cheque" value="Cheque"> Cheque</label>
                                                            </div>
                                                            <div class="radio-inline">
                                                                <label>
                                                                    <input type="radio" name="sCashOrCheque" id="neft" value="Neft"> NEFT</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {{/if}}
                                                    <div class="form-group">
                                                        <label for="txtarea1" class="col-sm-2 control-label">Remarks</label>
                                                        <div class="col-sm-8">
                                                            <textarea name="sRemarks" id="txtarea1"  cols="50" rows="4" class="form-control">{{sRemarks}}</textarea>
                                                        </div>
                                                    </div>
                                                       <div class="panel-footer">
                                                        <div class="row">
                                                            <div class="col-sm-8 col-sm-offset-2">
                                                                <button class="btn-info btn" type="submit">Submit</button>
                                                                <button class="btn-inverse btn" type="reset">Reset</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .container-fluid -->
                    </div>
                    <!-- #page-content -->
                </div>
                <!-- footer -->
                {{> _footer}}
            </div>
        </div>
        </div>
