{{> _top}}

<body class="animated-content" onload="getBoth()">
	<!-- Header -->
	{{> _nav}}
	<!-- Header -->
	<div id="wrapper">
		<div id="layout-static">
			{{> _sidebar}}
			<div class="static-content-wrapper">
				<div class="static-content">
					<div class="page-content">
						<ol class="breadcrumb">
							<li>
								<a href="/dashboard">Home</a>
							</li>
							<li class="active">
								<a href="/loan_client_data">Client's</a>
							</li>
						</ol>
						<div class="col-md-2 pull-right">
							<a href="/loan_form">
								<button class="btn btn-block btn-info">New Client Form</button>
							</a>
							<br>
						</div>
						<div class="container-fluid">
							{{> _msg}} {{> _err}}
							<div data-widget-group="group1">
								<div class="row">
									<div class="col-md-12 table-responsive">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h2>Client's</h2>
												<div class="panel-ctrls"></div>
											</div>
											<div class="panel-body no-padding">
												<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
													<thead>
														<tr>
															<th>Name of Applicant</th>
															<th>Purpose</th>
															<th>Bank / Branch</th>
															<th>Total Fees</th>
															<th>Paid/Unpaid</th>
															<th>Date Of received</th>
															<th>Action</th>
															<th>DownLoad</th>
														</tr>
													</thead>
													<tbody>
														{{#each loan}}
														<tr>
															<td>{{this.sName}}</td>
															<td>{{this.sPurpose}}</td>
															<td>{{this.sBankName}} | {{this.sBranchName}}</td>
															<td>{{this.nTotalFees}}</td>
															<td>{{this.ePaidunpaid}} | {{this.sCashOrCheque}}</td>
															<td>{{this.dRecivedDate}}</td>
															<td>
																<a href="/loan_client_edit/{{this.id}}">
																	<i class="fas fa-edit"></i>
																</a>
																<form id="{{this.id}}" method="post" action="/deleteLoan/{{this.id}}?_method=DELETE" style=" display:inline!important; ">
																	<input type="hidden" name="_method" value="DELETE">
																	<a href="javascript:{}" onclick="document.getElementById('{{this.id}}').submit();" style="color:red">
																		<i class="fas fa-ban"></i>
																	</a>
																</form>
															</td>
															<td>
																<a href="/pdfLoanData/{{this.id}}">
																	<i class="far fa-file-pdf" style="color:firebrick"></i>
																</a> 
															</td>
														</tr>
														{{/each}}
													</tbody>
												</table>
											</div>
											<div class="panel-footer"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- .container-fluid -->
					</div>
					<!-- #page-content -->
				</div>
				<!-- footer -->
				{{> _footer}}
			</div>
		</div>
	</div>