 {{> _top}}

<body class="animated-content" onload="getBoth()">
    <!-- Header -->
    {{> _nav}}
    <!-- Header -->
    <div id="wrapper">
        <div id="layout-static">
            {{> _sidebar}}
            <div class="static-content-wrapper">
                <div class="static-content">
                    <div class="page-content">
                        <ol class="breadcrumb">
                            <li>
                                <a href="/dashboard">Home</a>
                            </li>
                            <li class="active">
                                <a href="/profile">Profile</a>
                            </li>
                        </ol>
                        <div class="container-fluid">
                       {{> _msg}} {{> _err}}
                            <div data-widget-group="group1">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="panel panel-profile">
                                            <div class="panel-body">
                                                <img src="/assets/img/default_avatar.png" class="img-circle">
                                                <div class="name">
                                                    {{user.sFullname}}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- panel -->
                                        <div class="list-group list-group-alternate mb-n nav nav-tabs">
                                            <a href="#tab-about" role="tab" data-toggle="tab" class="list-group-item active">
                                                <i class="ti ti-user"></i> About
                                                <span class="badge badge-primary">80%</span>
                                            </a>
                                            <a href="#tab-edit" role="tab" data-toggle="tab" class="list-group-item">
                                                <i class="ti ti-pencil"></i> Edit</a>
                                        </div>
                                    </div>
                                    <!-- col-sm-3 -->
                                    <div class="col-sm-9">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab-about">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h2>About</h2>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="about-area">
                                                            <h4>Basic Information</h4>
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th>Name</th>
                                                                            <td>
                                                                                {{user.sFullname}}
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>Email</th>
                                                                            <td>
                                                                                {{user.sEmail}}
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab-edit">
                                                <div class="panel">
                                                    <div class="panel-heading">
                                                        <h2>Edit</h2>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <form class="form-horizontal tabular-form" action="/updateProfile" method="post">
                                                                    <div class="form-group">
                                                                        <label for="form-name" class="col-sm-2 control-label">Name</label>
                                                                        <div class="col-sm-8 tabular-border">
                                                                            <input type="text" class="form-control" id="form-name" name="sFullname" value="{{user.sFullname}}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="form-website" class="col-sm-2 control-label">Email</label>
                                                                        <div class="col-sm-8 tabular-border">
                                                                            <input type="text" class="form-control" name="sEmail" value="{{user.sEmail}}" readonly>
                                                                        </div>
                                                                    </div>


                                                                    <div class="form-group">
                                                                        <label for="form-password" class="col-sm-2 control-label">Password</label>
                                                                        <div class="col-sm-8 tabular-border">
                                                                            <input type="password" class="form-control" name="sPassword">
                                                                        </div>
                                                                    </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel-footer">
                                                        <div class="row">
                                                            <div class="col-sm-8 col-sm-offset-2">
                                                                <button class="btn-primary btn" type="submit" name="update">Update</button>
                                                                <button class="btn-default btn" type="reset">Reset</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- .tab-content -->
                                    </div>
                                    <!-- col-sm-8 -->
                                </div>
                            </div>

                        </div>
                        <!-- .container-fluid -->
                    </div>
                    <!-- #page-content -->
                </div>
                <!-- footer -->
                <!-- footer -->
                {{> _footer}}

            </div>
        </div>
    </div>