 {{> _top}}

<body class="animated-content" onload="getBoth()">
    <!-- Header -->
    {{> _nav}}
    <!-- Header -->
    <div id="wrapper">
        <div id="layout-static">
            {{> _sidebar}}
            <div class="static-content-wrapper">
                <div class="static-content">
                    <div class="page-content">
                        <ol class="breadcrumb">
                            <li>
                                <a href="/dashboard">Home</a>
                            </li>
                            <li class="active">
                                <a href="/reports_data">All Reports</a>
                            </li>
                        </ol>
                        <div class="container-fluid">
                            <div data-widget-group="group1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <form class="form-horizontal tabular-form" action="all_reports_exel.php" method="post" enctype="multipart/form-data">
                                                <div class="form-group">
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" name="month" id="focusedinput" placeholder="month">
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="submit" class="form-control btn btn-inverse-alt" name="export_exel" value="Export In Excel">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-md-12 table-responsive">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h2>Reports</h2>
                                                <div class="panel-ctrls"></div>
                                            </div>
                                            <div class="panel-body no-padding">
                                                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Serial No.</th>
                                                            <th>Client's Name</th>
                                                            <th>Date Of Report</th>
                                                            <th>Bank/Branch</th>
                                                            <th>Download</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                    </tbody>
                                                </table>

                                            </div>
                                            <div class="panel-footer"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- .container-fluid -->
                    </div>
                    <!-- #page-content -->
                </div>
                <!-- footer -->
                <!-- footer -->
                {{> _footer}}

            </div>
        </div>
    </div>