 {{> _top}}

<body class="animated-content" onload="getBoth()">
    <!-- Header -->
    {{> _nav}}
    <!-- Header -->
    <div id="wrapper">
        <div id="layout-static">
            {{> _sidebar}}
                <div class="static-content-wrapper">
                    <div class="static-content">
                        <div class="page-content">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="/dashboard">Home</a>
                                </li>
                                <li class="active">
                                    <a href="/user_data">Users</a>
                                </li>
                            </ol>
                            </div>
                            <div class="container-fluid">
                                {{> _msg}} {{> _err}}
                                <div data-widget-group="group1">
                                    <div class="row">
                                        <div class="col-md-12 table-responsive">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h2>Users</h2>
                                                    <div class="panel-ctrls"></div>
                                                </div>
                                                <div class="panel-body no-padding">
                                                    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th>No</th>
                                                                <th>Name</th>
                                                                <th>Email</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {{#each users}}
                                                            <tr data-id="{{this.id}}">
                                                                <td>1</td>
                                                                <td>{{this.sFullname}}</td>
                                                                <td>{{this.sEmail}}</td>
                                                                <td>
                                                                    <a href="makeAdmin/{{this.id}}" style="color:green">
                                                                        <i class="fas fa-user-secret"></i>
                                                                    </a>
                                                                    <form id="{{this.id}}" method="post" action="/deleteUser/{{this.id}}?_method=DELETE" style=" display:inline!important; ">
                                                                        <input type="hidden" name="_method" value="DELETE">
                                                                        <a href="javascript:{}" onclick="document.getElementById('{{this.id}}').submit();" style="color:red">
                                                                            <i class="fas fa-ban"></i>
                                                                        </a>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                            {{/each}}
                                                        </tbody>															
                                                    </table>
                                                </div>
                                                <div class="panel-footer"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .container-fluid -->
                        </div>
                        <!-- #page-content -->
                    </div>
 {{> _footer}}

</div>
</div>
</div>