 {{> _top}}

<body class="animated-content" onload="getBoth()">
    <!-- Header -->
    {{> _nav}}
    <!-- Header -->
    <div id="wrapper">
        <div id="layout-static">
            {{> _sidebar}}
            <div class="static-content-wrapper">
                <div class="static-content">
                    <div class="page-content">
                        <ol class="breadcrumb">
                            <li>
                                <a href="/dashboard">Home</a>
                            </li>
                            <li class="active">
                                <a href="/valuation_report_b">Valuation Reports</a>
                            </li>
                        </ol>
                        <div class="col-md-3 pull-right">
                            <a href="/valuation_report_b">
                                <button class="btn btn-block btn-info">New Valuation Report</button>
                            </a>
                            <br>
                        </div>
                        <div class="container-fluid">
                            {{> _msg}} {{> _err}}

                            <div data-widget-group="group1">
                                <div class="row">
                                    <div class="col-md-12 table-responsive">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h2>Reports</h2>
                                                <div class="panel-ctrls"></div>
                                            </div>
                                            <div class="panel-body no-padding">
                                                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Name of Applicant</th>
                                                            <th>Name of Proposed Buyer</th>
                                                            <th>Loan application number</th>
                                                            <th>Approved Date</th>
                                                            <th>Action</th>
                                                            <th>DownLoad</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each reportB}}
                                                        <tr>
                                                            <td>{{this.generalDetals.name_of_applicant}}</td>
                                                            <td>{{this.generalDetals.proposed_buyer}}</td>
                                                            <td>{{this.generalDetals.loan_application_number}}</td>
                                                            <td>{{this.planApproval.approval_date}}</td>
                                                            <td>
                                                                <a href="/valuation_report_b_edit/{{this.id}}">
                                                                    <i class="fas fa-edit"></i>
                                                                </a>
                                                                <form id="{{this.id}}" method="post" action="/valuation_report_b/{{this.id}}?_method=DELETE" style=" display:inline!important; ">
                                                                    <input type="hidden" name="_method" value="DELETE">
                                                                    <a href="javascript:{}" onclick="document.getElementById('{{this.id}}').submit();" style="color:red">
                                                                        <i class="fas fa-ban"></i>
                                                                    </a>
                                                                </form>
                                                            </td>
                                                            <td>
                                                                <a href="/pdfB/{{this.id}}">
                                                                    <i class="far fa-file-pdf" style="color:firebrick"></i>
                                                                </a> 
                                                            </td>
                                                        </tr>


                                                        {{/each}}

                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="panel-footer"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- .container-fluid -->
                    </div>
                    <!-- #page-content -->
                </div>
                <!-- footer -->
                {{> _footer}}

            </div>
        </div>
    </div>