
<!-- -->
{{> _top}}

<body class="animated-content" onload="getBoth()">
    <!-- Header -->
    {{> _nav}}
    <!-- Header -->

    <div id="wrapper">
        {{> _sidebar}}
        <div class="static-content-wrapper">
            <div class="static-content">
                <div class="page-content">
                    <ol class="breadcrumb">
                        <li>
                            <a href="/dashboard">Home</a>
                        </li>
                        <li class="active">
                            <a href="/valuation_report_b">Valuation Report</a>
                        </li>
                    </ol>
                    <div class="container-fluid">
                        {{> _msg}} {{> _err}}

                        <div class="alert alert-default panel panel-default">
                            <h3 style="text-align:center;">Valuation Report</h3>
                            <p style="text-align:center;">ANNEXURE - 1 - DESCRIPTION OF THE PROPERTY</p>
                        </div>
                        <div data-widget-group="group1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-info" data-widget='{"draggable": "false"}'>
                                        <div class="panel-heading panel-custome">
                                            <h2>VALUATION REPORT</h2>
                                            <div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
                                        </div>
                                        <div class="panel-body">
                                            <form action="/valuation_report_b" method="post" id="wizard" class="form-horizontal" enctype="multipart/form-data"> 
                                                <fieldset title="Main">
                                                    <legend>BANK INFORMATION</legend>
                                                    <div class="form-group">
                                                        <label for="fieldemail" class="col-md-3 control-label">Name of Bank:</label>
                                                        <div class="col-md-6">
                                                            <select class="form-control" name="sBankName" id="bank_list" name="sBankName" onchange="getBranch(this.value)" required>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldemail" class="col-md-3 control-label">Bank Branch:</label>
                                                        <div class="col-md-6">
                                                            <select class="form-control" id="branch_list" name="sBranchName" required>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset title="Step 1">
                                                    <legend class="col-md-6 pull-left">GENERAL DETAILS</legend>
                                                    <legend class="col-md-6 pull-right">
                                                        <span style="float:right;">
                                                            <input class="form-control" name="serial_no" type="text" value="{{token}}"
                                                                readonly>
                                                        </span>
                                                    </legend>
                                                    <div class="form-group">
                                                        <label for="fieldemail" class="col-md-3 control-label">Name of Applicant:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" type="text" name="name_of_applicant"
                                                                required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldurl" class="col-md-3 control-label">Property Address:</label>
                                                        <div class="col-md-6">
                                                            <textarea class="form-control" name="property_address" required></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldurl" class="col-md-3 control-label">Area details:</label>
                                                        <div class="col-md-6">
                                                            <textarea class="form-control" name="area_details"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldabout" class="col-md-3 control-label">Name of Proposed Buyer:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="proposed_buyer" type="text" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldurl" class="col-md-3 control-label">Loan application number:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" type="text" name="loan_application_number">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldurl" class="col-md-3 control-label">Legal address of property:</label>
                                                        <div class="col-md-6">
                                                            <textarea class="form-control" name="legal_address_of_property" required></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Date of Inspection</label>
                                                        <div class="col-md-6">
                                                            <input id="datepicker" class="form-control" name="date_of_inspection" placeholder="dd-mm-yyyy" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldurl" class="col-md-3 control-label">Purpose of Inspection:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" type="text" name="purpose_of_inspection">
                                                        </div>
                                                    </div>
                                                    <legend class="pull-left">SURROUNDING LOCALITY DETAILS</legend>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Ward no./ Municipal land No:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="ward_no">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">Vicinity: </label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="vicinity">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Plot Demarcated at the site: </label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="plot_site">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">Type:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="pro_type">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Conditions of Approach Road:: </label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="conditions_of_road">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">Nearest landmark:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="nearest_landmark">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Proximity to Civic Amenities:</label>
                                                        <div class="col-md-8 radio block">
                                                            <label>
                                                                <input type="checkbox" name="local_transport" value="Buses">&emsp;Buses</label>
                                                            &nbsp;
                                                            <label>
                                                                <input type="checkbox" name="local_transport" value="Rickshaw">&emsp;Rickshaw</label>
                                                            &emsp;
                                                            <label>
                                                                <input type="checkbox" name="local_transport" value="local vehicles">&emsp;local vehicles</label>
                                                            &emsp;
                                                            <label>
                                                                <input type="checkbox" name="local_transport" value="Cycles">&emsp;Cycles</label>
                                                            <label>
                                                                <input class="form-control " type="text" name="local_transport_other"
                                                                    placeholder="Other">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldemail" class="col-md-3 control-label">Property Identified through</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" type="text" name="pro_identified_through">
                                                        </div>
                                                    </div>

                                                </fieldset>
                                                <fieldset title="Step 2">
                                                    <legend>Property Details</legend>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Type of Usage of entire property:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="usage_entire_pro">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">Additional Amenities: </label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="additional_amenities">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Type of Premises: </label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="type_of_premises">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">Occupied by:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="occupied_by" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Name of occupant: </label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="name_of_occupant" required>
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">Is property rented?:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="property_rented">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">If relative, state relationship with the applicant:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="if_relative">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">If rented list of occupants: </label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="if_rented">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label for="fieldname" class="control-label">Boundaries are :</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <label for="fieldname" class="control-label col-md-2"> North :</label>
                                                            <label class="col-md-10">
                                                                <input type="text" class="form-control" name="north_boundarie">
                                                            </label>
                                                            <label for="fieldname" class="control-label col-md-2">South: </label>
                                                            <label class="col-md-10">
                                                                <input type="text" class="form-control" name="south_boundarie">
                                                            </label>
                                                            <label for="fieldname" class="control-label col-md-2"> East :</label>
                                                            <label class="col-md-10">
                                                                <input type="text" class="form-control" name="east_boundarie">
                                                            </label>
                                                            <label for="fieldname" class="control-label col-md-2">West: </label>
                                                            <label class="col-md-10">
                                                                <input type="text" class="form-control" name="west_boundarie">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <legend>STRUCTURE DETAILS</legend>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Type of Structure:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="type_of_structure">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">No. of Floors: </label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="no_of_floors">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">No. of dwelling units: </label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="no_of_dwelling">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">No. of Wings:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="no_of_wings">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">No. of Lifts in each wing: </label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="no_of_lifts">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">Construction Year:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="construction_year">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Estimated Future Life: </label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="future_life">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">Age of property:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="age_of_property">
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset title="Step 3">
                                                    <legend>QUALITY OF CONSTRUCTION</legend>
                                                    <div class="form-group">
                                                        <div class="col-md-1"></div>
                                                        <label for="fieldname" class="pull-left control-label">
                                                            <b>A. Exteriors</b>
                                                        </label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Beam & Column Structure:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="beam_column" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Appearance & Maintenance of Building:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="appearance_maintenance" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Common Area Remarks:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="common_remarks" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-1"></div>
                                                        <label for="fieldname" class="pull-left control-label">
                                                            <b>B. Interiors</b>
                                                        </label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Finishing:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="finishing" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Roofing and Terracing:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="roofing_terracing" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">No. of Lifts:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="no_of_lift" type="text">
                                                        </div>
                                                    </div>
                                                    <legend>PLAN APPROVALS</legend>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Construction as per approved:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="constr_per_approved" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Details of approved plan & plans:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="details_approved_plans" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Approved Date:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="approval_date" id="datepicker2" placeholder="dd-mm-yyyy" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Bldg. use Permission Number and Date:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="use_permission" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Violations Observed if Any:</label>
                                                        <div class="col-md-6">
                                                            <textarea class="form-control" name="violations_observed" type="text"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">If plans not available then is the structure confirming to the local
                                                            byelaws :</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="local_byelaws" type="text">
                                                        </div>
                                                    </div>
                                                    <legend>STRUCTURE DETAILS</legend>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Situated on Floor No.: </label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="situated_floor_no">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">Quality of Fittings:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="quality_fittings">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Internal Composition: </label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="Internal_composition">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">Flooring:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="flooring">
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset title="Step 4">
                                                    <legend>VALUATION</legend>
                                                    <div class="form-group">
                                                        <div class="col-md-1"></div>
                                                        <label for="fieldname" class="pull-left control-label">
                                                            <b>INDIVIDUAL APARTMENT / FLAT / SHOP / OFFICE</b>
                                                        </label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Built up area (Sq. Ft.): </label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="built_up_area">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">Loading for SBUA:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="loading_sbua">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Current Govt. Approved Rates: </label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="approved_rates">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">Final Value:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="final_value">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Recommended Rate and basis for recommendation:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="recommended_rate" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-1"></div>
                                                        <label for="fieldname" class="pull-left control-label">
                                                            <b>FOR VALUATION LAND & BUILDING</b>
                                                        </label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Land Area:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="land_area" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Current Government Approved Rates for Land (Jantry Rate):</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="current_rates_for_land" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Recommended Rate and Basis For recommendation:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="land_recommended_rate" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Land Value:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="land_value" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Actual BUA of the premises:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="bua_premises" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Construction cost as per the Amenities provided per Sq. Ft.:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="construction_cost" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Total Value of Construction:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="total_value_const" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Depreciate value of Construction (98.25%):</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="depreciate_value_const" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Total valuation:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="total_valuation" type="text">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Say:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="say" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">
                                                            <b>Remarks:</b>
                                                        </label>
                                                        <div class="col-md-7">
                                                            <input class="form-control" name="remarks" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-1 control-label">
                                                            <b>Note:</b>
                                                        </label>
                                                        <div class="col-md-10">
                                                            <label>(i) Valuer is not responsible or accountable for the unfair,
                                                                unreasonable evaluation due to the provision of fake information
                                                                by the owner.</label>
                                                            <label>(ii) Any kind of litigation or dispute pertaining to the property
                                                                under consideration is not accountable to the valuer.</label>
                                                            <label>(iii) Valuer varies in accordance with the purpose, time, specific
                                                                condition, demand potentials etc.</label>
                                                            <label>(iv) Valuation of the property under consideration should not
                                                                be referred to any purpose other than the one specified here
                                                                in above.</label>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset title="Step 5">
                                                    <legend>DECLARATION</legend>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Images:</label>
                                                        <div class="col-md-8">
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <div class="input-group">
                                                                    <div class="form-control uneditable-input" data-trigger="fileinput">
                                                                        <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                                        <span class="fileinput-filename"></span>
                                                                    </div>
                                                                    <span class="input-group-btn">
                                                                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                                                        <span class="btn btn-default btn-file">
                                                                            <span class="fileinput-new">Select file</span>
                                                                            <span class="fileinput-exists">Change</span>
                                                                            <input type="file" id="images" name="files" multiple="multiple" accept="image/*" />
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-2"></div>
                                                        <div class="col-md-8">
                                                            <h5>I hereby declare that:</h5>
                                                            <h5>I have personally inspected the property on date
                                                               {{!-- todaydate --}}
                                                            </h5>
                                                            <br>
                                                            <label>
                                                                <input type="checkbox" value="" name="remember1" required>&emsp;"I have no direct or indirect interest in the property
                                                                valued."</label>
                                                            <br>
                                                            <label>
                                                                <input type="checkbox" value="" name="remember2" required>&emsp;"The name of the customer is taken as per papers received
                                                                and we don’t take any liability regarding the same, nor title
                                                                clearance of the Property."</label>
                                                            <br>
                                                            <label>
                                                                <input type="checkbox" value="" name="remember3" required>&emsp;"Validity of the Value worked out regarding the concerned
                                                                property is as on Date of the Report."</label>
                                                            <br>
                                                            <label>
                                                                <input type="checkbox" value="" name="remember4" required>&emsp;"Value varies with the purpose & date. This certificate
                                                                is not to be referred if the purpose is different other than
                                                                mentioned in annexure-1 (1)."</label>
                                                        </div>
                                                    </div>
                                                    {{!-- <div class="form-group">
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-5 pull-left">
                                                            <label>
                                                                <h5>Date : {{date}} </h5>
                                                            </label>
                                                        </div>
                                                        <div class="col-md-3 pull-right">
                                                            <label>
                                                                <h5>AHMEDABAD.</h5>
                                                            </label>
                                                        </div>
                                                    </div> --}}
                                                </fieldset>
                                                <input type="submit" class="finish btn-success btn" name="save" value="Save" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .container-fluid -->
                </div>
                <!-- #page-content -->
            </div>
            <!-- footer -->
            {{> _footer}}
        </div>
    </div>
    </div>
</body>

</html>
<script type="text/javascript">
    $("document").ready(function () {
        $("#images").change(function () {
            if (this.files.length > 6) {
                alert('Select Only 4 Images For Upload');
            }
        });
        $("form").submit(function (e) {
            var img = document.getElementById('images');
            var total = img.files.length;
            if (total > 6) {
                alert('You Selected ' + total + ' Images');
                e.preventDefault(e);
            }
        });
    });
</script>