{{> _top}}
<body class="animated-content" onload="getBoth()">
    <!-- Header -->
    {{> _nav}}
    <!-- Header -->

    <div id="wrapper">
    {{> _sidebar}}    
    <div class="static-content-wrapper">
            <div class="static-content">
                <div class="page-content">
                    <ol class="breadcrumb">
                        <li>
                            <a href="/dashboard">Home</a>
                        </li>
                        <li class="active">
                            <a href="/valuation_report_lap">Valuation Report For Lap</a>
                        </li>
                    </ol>
                    <div class="container-fluid">
                    {{> _msg}} {{> _err}}

                        <div class="alert alert-default panel panel-default">
                            <h3 style="text-align:center;">Valuation Report for LAP</h3>
                            <p style="text-align:center;">INDUSIND BANK LTD.</p>
                        </div>
                        <div data-widget-group="group1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-info" data-widget='{"draggable": "false"}'>
                                        <div class="panel-heading panel-custome">
                                            <h2>Valuation Report for LAP</h2>
                                            <div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
                                        </div>
                                        <div class="panel-body">
                                            <form action="/valuation_report_lap" method="post" id="wizard" class="form-horizontal" enctype="multipart/form-data">
                                            <fieldset title="Main">
                                                <legend>BANK INFORMATION</legend>
                                                <div class="form-group">
                                                    <label for="fieldemail" class="col-md-3 control-label">Name of Bank:</label>
                                                    <div class="col-md-6">
                                                        <select class="form-control" name="sBankName" id="bank_list" name="sBankName" onchange="getBranch(this.value)" required>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="fieldemail" class="col-md-3 control-label">Bank Branch:</label>
                                                    <div class="col-md-6">
                                                        <select class="form-control" id="branch_list" name="sBranchName" required>
                                                        </select>
                                                    </div>
                                                </div>
                                            </fieldset>
                                                <fieldset title="Step 1">
                                                    <legend class="col-md-6 pull-left">GENERAL DETAILS</legend>
                                                    <legend class="col-md-6 pull-right">
                                                        <span style="float:right;">
                                                            <input class="form-control" name="serial_no" type="text" value="{{token}}"
                                                                readonly>
                                                        </span>
                                                    </legend>
                                                    <div class="form-group">
                                                        <label for="fieldemail" class="col-md-4 control-label">Valuation request given by:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" type="text" name="valuation_request"
                                                                required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldabout" class="col-md-4 control-label">The Property is occupied by:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="property_occupied_by" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldurl" class="col-md-4 control-label">Purpose of Valuation:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" type="text" name="purpose_of_valuation"
                                                                required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Date of Valuation Report</label>
                                                        <div class="col-md-6">
                                                            <input id="datepicker" class="form-control" name="date_of_valuation" placeholder="dd-mm-yyyy" type="text" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldurl" class="col-md-4 control-label">Valuation done by (Name of Field Engineer) and date of Site Visit:</label>
                                                        <div class="col-md-6">
                                                            <textarea class="form-control" name="valuation_done_by"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldurl" class="col-md-4 control-label">Name of the person who has done assessment of FMV & vetted field
                                                            investigation report & signed the report:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" type="text" name="assessment_of_fmv">
                                                        </div>
                                                    </div>
                                                    <legend class="pull-left">CUSTOMER DETAILS</legend>
                                                    <div class="form-group">
                                                        <label for="fieldurl" class="col-md-3 control-label">Customer Name:</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control" type="text" name="customer_name" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldurl" class="col-md-3 control-label">Application Number (Of file) :</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control" type="text" name="application_no" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldurl" class="col-md-3 control-label">Prospective Purchaser Name (as reported):</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control" type="text" name="pro_purchaser_name">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldurl" class="col-md-3 control-label">Name of the person met (with phone No.):</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control" type="text" name="person_met">
                                                        </div>
                                                    </div>
                                                    <legend class="pull-left">PROPERTY DETAILS</legend>
                                                    <div class="form-group">
                                                        <label for="fieldurl" class="col-md-3 control-label">Address of Property(at site):</label>
                                                        <div class="col-md-7">
                                                            <textarea class="form-control" name="address_of_property"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldurl" class="col-md-3 control-label">Address as per Legal Document:</label>
                                                        <div class="col-md-7">
                                                            <textarea class="form-control" name="address_as_document" placeholder="(Survey No./F.P. No. Khasara No./ Plot No.)"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldurl" class="col-md-3 control-label">Nearby Landmark:</label>
                                                        <div class="col-md-7">
                                                            <input type="text" class="form-control" name="nearby_landmark">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldurl" class="col-md-3 control-label">Specific Comments On Property:</label>
                                                        <div class="col-md-7">
                                                            <textarea class="form-control" name="comment_on_property"></textarea>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset title="Step 2">
                                                    <legend>DOCUMENT DETAILS</legend>
                                                    <div class="form-group">
                                                        <label for="fieldemail" class="col-md-3 control-label">Approved Layout Plan</label>
                                                        <div class="radio col-sm-7">
                                                            <label class="col-sm-2">
                                                                <input type="radio" name="approved_layout_plan" id="approved_layout_plan" value="Yes" onclick="ShowApprov();">&emsp; Yes
                                                            </label>
                                                            <label class="col-sm-2">
                                                                <input type="radio" name="approved_layout_plan" id="approved_layout_plan" value="No" onclick="HideApprov();" checked>&emsp; No
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" id="layout_approved" style="display:none;">
                                                        <label for="fieldname" class="col-md-3 control-label">Approving Date & Number:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" id="layout_date_num" name="layout_date_num">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">Approving Authority:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" id="layout_authority" name="layout_authority">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldemail" class="col-md-3 control-label">Approved Building Plan</label>
                                                        <div class="radio col-sm-7">
                                                            <label class="col-sm-2">
                                                                <input type="radio" name="approved_building_plan" id="approved_building_plan" value="Yes" onclick="ShowPlanApprov();">&emsp; Yes
                                                            </label>
                                                            <label class="col-sm-2">
                                                                <input type="radio" name="approved_building_plan" id="approved_building_plan" value="No" checked onclick="HidePlanApprov();">&emsp; No
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" id="plan_approved" style="display:none;">
                                                        <label for="fieldname" class="col-md-3 control-label">Approving Date & Number:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" id="building_date_num" name="building_date_num">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">Approving Authority:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" id="building_authority" name="building_authority">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldemail" class="col-md-3 control-label">Construction Permission</label>
                                                        <div class="radio col-sm-7">
                                                            <label class="col-sm-2">
                                                                <input type="radio" name="construction_per" id="construction_per" value="Yes" onclick="ShowPerApprov();">&emsp; Yes
                                                            </label>
                                                            <label class="col-sm-2">
                                                                <input type="radio" name="construction_per" id="construction_per" value="No" checked onclick="HidePerApprov();">&emsp; No
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" id="per_approved" style="display:none;">
                                                        <label for="fieldname" class="col-md-3 control-label">Approving Date & Number:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" id="construction_date_num"
                                                                name="construction_date_num">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">Approving Authority:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" id="construction_authority"
                                                                name="construction_authority">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldemail" class="col-md-3 control-label">B. U. Permission</label>
                                                        <div class="radio col-sm-7">
                                                            <label class="col-sm-2">
                                                                <input type="radio" name="bu_permission" id="bu_permission" value="Yes" onclick="ShowBuApprov();">&emsp; Yes
                                                            </label>
                                                            <label class="col-sm-2">
                                                                <input type="radio" name="bu_permission" id="bu_permission" value="No" checked onclick="HideBuApprov();">&emsp; No
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" id="bu_approved" style="display:none;">
                                                        <label for="fieldname" class="col-md-3 control-label">Approving Date & Number:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" id="bu_date_num" type="text" name="bu_date_num">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">Approving Authority:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" id="bu_authority" type="text" name="bu_authority">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Type of Usage as per Plan:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="usage_as_plan">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">Type of Usage at Site:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="type_of_usage">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">List of Property Document Produced for perusal:</label>
                                                        <div class="col-md-7">
                                                            <textarea class="form-control" name="document_list" placeholder="Index-2, Sale deed, Commencement Letter, B. U. Permission, Approved Plans"></textarea>
                                                        </div>
                                                    </div>
                                                    <legend>OCCUPANCY DETAILS</legend>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Status of Occupancy :</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="status_of_occupancy"
                                                                placeholder="(Mention floor-wise)">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">Occupied by:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="occupied_by">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Relationship of Occupant with customer:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="relationship_with_customer">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">Occupied Since:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="occupied_since">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Completion Status of building/property:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="status_property">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">Rental Value:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="rental_value">
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset title="Step 3">
                                                    <legend>PHYSICAL DETAILS</legend>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="control-label col-md-1">Boundaries: </label>
                                                        <div class="col-md-12">
                                                            <div class="form-inline">
                                                                <label for="fieldname" class="control-label col-md-2"> North :</label>
                                                                &emsp;As per Sale Documents:&emsp;
                                                                <div class="input-group col-md-3">
                                                                    <input type="text" class="form-control" name="north_doc">
                                                                </div>
                                                                &emsp;Actual at Site:&emsp;
                                                                <div class="input-group col-md-3">
                                                                    <input type="text" class="form-control" name="north_site">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <br>
                                                            <div class="form-inline">
                                                                <label for="fieldname" class="control-label col-md-2"> South :</label>
                                                                &emsp;As per Sale Documents:&emsp;
                                                                <div class="input-group col-md-3">
                                                                    <input type="text" class="form-control" name="south_doc">
                                                                </div>
                                                                &emsp;Actual at Site:&emsp;
                                                                <div class="input-group col-md-3">
                                                                    <input type="text" class="form-control" name="south_site">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <br>
                                                            <div class="form-inline">
                                                                <label for="fieldname" class="control-label col-md-2"> East :</label>
                                                                &emsp;As per Sale Documents:&emsp;
                                                                <div class="input-group col-md-3">
                                                                    <input type="text" class="form-control" name="east_doc">
                                                                </div>
                                                                &emsp;Actual at Site:&emsp;
                                                                <div class="input-group col-md-3">
                                                                    <input type="text" class="form-control" name="east_site">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <br>
                                                            <div class="form-inline">
                                                                <label for="fieldname" class="control-label col-md-2"> West :</label>
                                                                &emsp;As per Sale Documents:&emsp;
                                                                <div class="input-group col-md-3">
                                                                    <input type="text" class="form-control" name="west_doc">
                                                                </div>
                                                                &emsp;Actual at Site:&emsp;
                                                                <div class="input-group col-md-3">
                                                                    <input type="text" class="form-control" name="west_site">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Boundaries Matching:</label>
                                                        <div class="radio col-md-3">
                                                            <label>
                                                                <input type="radio" name="boundaries_match" value="Yes">&emsp; Yes
                                                            </label>
                                                            <label>
                                                                &emsp;
                                                                <input type="radio" name="boundaries_match" value="No"
                                                                    checked>&emsp; No
                                                            </label>
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">Remarks: </label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="boundaries_remark">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-2">Plot Details: </label>
                                                        <div class="col-md-12">
                                                            <br>
                                                            <div class="form-inline">
                                                                <label for="fieldname" class="control-label col-md-3"> Plot Area:</label>
                                                                <div class="input-group col-md-8">
                                                                    <input class="form-control" name="ploat_area" type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <br>
                                                            <div class="form-inline">
                                                                <label for="fieldname" class="control-label col-md-3"> Flat demarcated at site:</label>
                                                                <div class="input-group col-md-8">
                                                                    <input class="form-control" name="flat_demarcated_site" type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <br>
                                                            <div class="form-inline">
                                                                <label for="fieldname" class="control-label col-md-3"> Approved Land / Building Use:</label>
                                                                <div class="input-group col-md-8">
                                                                    <input class="form-control" name="approved_use" type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <br>
                                                            <div class="form-inline">
                                                                <label for="fieldname" class="control-label col-md-3"> Infrastructure of the surrounding area:</label>
                                                                <div class="input-group col-md-8">
                                                                    <input class="form-control" name="Infrastructure_area" type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <br>
                                                            <div class="form-inline">
                                                                <label for="fieldname" class="control-label col-md-3"> Nature of Locality:</label>
                                                                <div class="input-group col-md-8">
                                                                    <input class="form-control" name="nature_of_locality" type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <br>
                                                            <div class="form-inline">
                                                                <label for="fieldname" class="control-label col-md-3"> Class of Locality:</label>
                                                                <div class="input-group col-md-8">
                                                                    <input class="form-control" name="class_of_locality" type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Distance from Indusind office (km):</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="distance_from_office"
                                                                placeholder="12 Kms. (Approx)">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">Property Location: </label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="property_location">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Electricity Service Connection:</label>
                                                        <div class="col-md-8">
                                                            <input class="form-control" name="elec_service" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Type of Property:</label>
                                                        <div class="col-md-8">
                                                            <input class="form-control" name="property_type" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3">Property Description (Floor-wise): </label>
                                                        <div class="col-md-12">
                                                            <br>
                                                            <div class="form-inline">
                                                                <label for="fieldname" class="control-label col-md-3"> Property Structure:</label>
                                                                <div class="input-group col-md-8">
                                                                    <input class="form-control" name="property_structure" type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <br>
                                                            <div class="form-inline">
                                                                <label for="fieldname" class="control-label col-md-3"> No. of Units:</label>
                                                                <div class="input-group col-md-8">
                                                                    <input class="form-control" name="no_of_units" type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <br>
                                                            <div class="form-inline">
                                                                <label for="fieldname" class="control-label col-md-3"> No. of Kitchen:</label>
                                                                <div class="input-group col-md-8">
                                                                    <input class="form-control" name="no_of_kitchen" type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <br>
                                                            <div class="form-inline">
                                                                <label for="fieldname" class="control-label col-md-3"> No. of Bed Rooms:</label>
                                                                <div class="input-group col-md-8">
                                                                    <input class="form-control" name="no_of_bed" type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <br>
                                                            <div class="form-inline">
                                                                <label for="fieldname" class="control-label col-md-3"> Usage & Remarks if any:</label>
                                                                <div class="input-group col-md-8">
                                                                    <input class="form-control" name="usage_remark" type="text">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Maintenance level:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="maintenance_level">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">Structure: </label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="structure">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Interiors: </label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="interiors">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">Exteriors:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="exteriors">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Approx Age of Property: </label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="age_of_property">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">Amenities:</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="amenities">
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset title="Step 4">
                                                    <legend>VALUATION</legend>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-10">A. AREA DETAILS & DEVIATION (RAW HOUSE / BUNGALOW / KOTHI): </label>
                                                        <div class="col-md-12">
                                                            <br>
                                                            <div class="form-inline">
                                                                <label for="fieldname" class="control-label col-md-2"> Land Area :</label>
                                                                &emsp;As per approved plan:&emsp;
                                                                <div class="input-group col-md-2">
                                                                    <input type="text" class="form-control" name="land_as_plan_a">
                                                                </div>
                                                                &emsp;Actual area(As observed & Measured):&emsp;
                                                                <div class="input-group col-md-2">
                                                                    <input type="text" class="form-control" name="land_as_area_a">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <br>
                                                            <div class="form-inline">
                                                                <label for="fieldname" class="control-label col-md-2"> Ground Floor :</label>
                                                                &emsp;As per approved plan:&emsp;
                                                                <div class="input-group col-md-2">
                                                                    <input type="text" class="form-control" name="ground_as_plan_a">
                                                                </div>
                                                                &emsp;Actual area(As observed & Measured):&emsp;
                                                                <div class="input-group col-md-2">
                                                                    <input type="text" class="form-control" name="ground_as_area_a">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <br>
                                                            <div class="form-inline">
                                                                <label for="fieldname" class="control-label col-md-2"> First Floor :</label>
                                                                &emsp;As per approved plan:&emsp;
                                                                <div class="input-group col-md-2">
                                                                    <input type="text" class="form-control" name="first_as_plan_a">
                                                                </div>
                                                                &emsp;Actual area(As observed & Measured):&emsp;
                                                                <div class="input-group col-md-2">
                                                                    <input type="text" class="form-control" name="first_as_area_a">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <br>
                                                            <div class="form-inline">
                                                                <label for="fieldname" class="control-label col-md-2"> Second Floor :</label>
                                                                &emsp;As per approved plan:&emsp;
                                                                <div class="input-group col-md-2">
                                                                    <input type="text" class="form-control" name="second_as_plan_a">
                                                                </div>
                                                                &emsp;Actual area(As observed & Measured):&emsp;
                                                                <div class="input-group col-md-2">
                                                                    <input type="text" class="form-control" name="second_as_area_a">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <br>
                                                            <div class="form-inline">
                                                                <label for="fieldname" class="control-label col-md-2"> Prevailing Market Rate:</label>
                                                                &emsp;As per approved plan:&emsp;
                                                                <div class="input-group col-md-2">
                                                                    <input type="text" class="form-control" name="rate_as_plan_a">
                                                                </div>
                                                                &emsp;Actual area(As observed & Measured):&emsp;
                                                                <div class="input-group col-md-2">
                                                                    <input type="text" class="form-control" name="rate_as_area_a">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Land Rate adopted (in Sq. Ft.): </label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="rate_adopted_a">
                                                        </div>
                                                        <label for="fieldname" class="col-md-2 control-label">Cost of Construction (in Sq. Ft.):</label>
                                                        <div class="col-md-3">
                                                            <input class="form-control" type="text" name="cost_construction_a">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Land Value:</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control" name="land_value_a" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Building Value(of total approved area):</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control" name="building_value_a" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Depreciation considered(on building value):</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control" name="depreciation_considered_a" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-3 control-label">Fair Market Value of the property:</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control" name="fair_market_value_a" type="text">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-10">B. AREA DETAILS & DEVIATIONS (FLAT / OFFICE / SHOP): </label>
                                                        <div class="col-md-12">
                                                            <br>
                                                            <div class="form-inline">
                                                                <label for="fieldname" class="control-label col-md-2"> Land Area / UDS(wherever possible):</label>
                                                                &emsp;As per approved plan:&emsp;
                                                                <div class="input-group col-md-2">
                                                                    <input type="text" class="form-control" name="land_as_plan_b">
                                                                </div>
                                                                &emsp;Actual area(As observed & Measured):&emsp;
                                                                <div class="input-group col-md-2">
                                                                    <input type="text" class="form-control" name="land_as_area_b">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <br>
                                                            <div class="form-inline">
                                                                <label for="fieldname" class="control-label col-md-2"> Carpet Area (Mandatory as per actual measurement):</label>
                                                                &emsp;As per approved plan:&emsp;
                                                                <div class="input-group col-md-2">
                                                                    <input type="text" class="form-control" name="carpet_as_plan_b">
                                                                </div>
                                                                &emsp;Actual area(As observed & Measured):&emsp;
                                                                <div class="input-group col-md-2">
                                                                    <input type="text" class="form-control" name="carpet_as_area_b">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <br>
                                                            <div class="form-inline">
                                                                <label for="fieldname" class="control-label col-md-2"> Area Details :</label>
                                                                &emsp;As per approved plan:&emsp;
                                                                <div class="input-group col-md-2">
                                                                    <textarea class="form-control" name="area_detail_as_plan"></textarea>
                                                                </div>
                                                                &emsp;Actual area(As observed & Measured):&emsp;
                                                                <div class="input-group col-md-2">
                                                                    <textarea class="form-control" name="area_detail_as_area"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Prevailing Market Rate:</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control" name="prevailing_rate" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Total Value:</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control" name="total_value" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Amenities cost (fix furniture & interior work):</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control" name="amenities_cost" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Depreciation considered (on building value):</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control" name="depreciation_building" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Total fair market value of the property:</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control" name="total_fair_value" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">Say:</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control" name="say" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fieldname" class="col-md-4 control-label">
                                                            <b>Remarks:</b>
                                                        </label>
                                                        <div class="col-md-7">
                                                            <input class="form-control" name="remarks" type="text">
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset title="Step 5">
                                                    <legend>DECLARATION</legend>
                                                    <label for="fieldname" class="col-md-10">SPECIFIC DETAILS OF DEVIATION AT SITE: </label>
                                                    <div class="form-group col-md-11">
                                                        <div class="panel panel-success" data-widget='{"draggable": "false"}'>
                                                            <div class="panel-body no-padding">
                                                                <table class="table table-striped">
                                                                    <thead>
                                                                        <tr class="success">
                                                                            <th>#</th>
                                                                            <th>Details</th>
                                                                            <th>As per approved plan</th>
                                                                            <th>As per site</th>
                                                                            <th>Percentage of deviation</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td>Total Plot area (Sq. Ft.)</td>
                                                                            <td>
                                                                                <input class="form-control" name="plot_area_plan"
                                                                                    type="text">
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" name="plot_area_site"
                                                                                    type="text">
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" name="plot_area_deviation"
                                                                                    type="text">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>2</td>
                                                                            <td>No. of Floors</td>
                                                                            <td>
                                                                                <input class="form-control" name="no_of_flore_plan"
                                                                                    type="text">
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" name="no_of_flore_site"
                                                                                    type="text">
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" name="no_of_flore_deviation"
                                                                                    type="text">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>3</td>
                                                                            <td>No. of Units</td>
                                                                            <td>
                                                                                <input class="form-control" name="units_area_plan"
                                                                                    type="text">
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" name="units_area_site"
                                                                                    type="text">
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" name="units_area_deviation"
                                                                                    type="text">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>4</td>
                                                                            <td>Total Built up Area(Sq. Ft.)</td>
                                                                            <td>
                                                                                <input class="form-control" name="built_area_plan"
                                                                                    type="text">
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" name="built_area_site"
                                                                                    type="text">
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" name="built_area_deviation"
                                                                                    type="text">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>5</td>
                                                                            <td>Ground Floor</td>
                                                                            <td>
                                                                                <input class="form-control" name="ground_area_plan"
                                                                                    type="text">
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" name="ground_area_site"
                                                                                    type="text">
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" name="ground_area_deviation"
                                                                                    type="text">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>6</td>
                                                                            <td>First Floor</td>
                                                                            <td>
                                                                                <input class="form-control" name="first_area_plan"
                                                                                    type="text">
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" name="first_area_site"
                                                                                    type="text">
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" name="first_area_deviation"
                                                                                    type="text">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>7</td>
                                                                            <td>F.S.I.</td>
                                                                            <td>
                                                                                <input class="form-control" name="fsi_area_plan"
                                                                                    type="text">
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" name="fsi_area_site"
                                                                                    type="text">
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" name="fsi_area_deviation"
                                                                                    type="text">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>8</td>
                                                                            <td>Plot Coverage</td>
                                                                            <td>
                                                                                <input class="form-control" name="coverage_area_plan"
                                                                                    type="text">
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" name="coverage_area_site"
                                                                                    type="text">
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" name="coverage_area_deviation"
                                                                                    type="text">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>9</td>
                                                                            <td>Setbacks</td>
                                                                            <td>
                                                                                <input class="form-control" name="setbacks_area_plan"
                                                                                    type="text">
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" name="setbacks_area_site"
                                                                                    type="text">
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" name="setbacks_area_deviation"
                                                                                    type="text">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>10</td>
                                                                            <td>Front</td>
                                                                            <td>
                                                                                <input class="form-control" name="front_area_plan"
                                                                                    type="text">
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" name="front_area_site"
                                                                                    type="text">
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" name="front_area_deviation"
                                                                                    type="text">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>11</td>
                                                                            <td>Rear</td>
                                                                            <td>
                                                                                <input class="form-control" name="rear_area_plan"
                                                                                    type="text">
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" name="rear_area_site"
                                                                                    type="text">
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" name="rear_area_deviation"
                                                                                    type="text">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>12</td>
                                                                            <td>Left</td>
                                                                            <td>
                                                                                <input class="form-control" name="left_area_plan"
                                                                                    type="text">
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" name="left_area_site"
                                                                                    type="text">
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" name="left_area_deviation"
                                                                                    type="text">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>13</td>
                                                                            <td>Right</td>
                                                                            <td>
                                                                                <input class="form-control" name="right_area_plan"
                                                                                    type="text">
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" name="right_area_site"
                                                                                    type="text">
                                                                            </td>
                                                                            <td>
                                                                                <input class="form-control" name="right_area_deviation"
                                                                                    type="text">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Images:</label>
                                                        <div class="col-md-8">
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <div class="input-group">
                                                                    <div class="form-control uneditable-input" data-trigger="fileinput">
                                                                        <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                                        <span class="fileinput-filename"></span>
                                                                    </div>
                                                                    <span class="input-group-btn">
                                                                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                                                        <span class="btn btn-default btn-file">
                                                                            <span class="fileinput-new">Select file</span>
                                                                            <span class="fileinput-exists">Change</span>
                                                                            <input type="file" id="images" name="files" multiple="multiple" accept="image/*" />
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-2"></div>
                                                        <div class="col-md-8">
                                                            <h5>I hereby declare that:</h5>
                                                            <br>
                                                            <label>
                                                                <input type="checkbox" value="" name="remember1" required>&emsp;"The property was inspected by me/us."</label>
                                                            <br>
                                                            <label>
                                                                <input type="checkbox" value="" name="remember2" required>&emsp;"I/we have no direct or Indirect interest in the property
                                                                valued."</label>
                                                            <br>
                                                            <label>
                                                                <input type="checkbox" value="" name="remember3" required>&emsp;"The information furnished above is true and correct
                                                                to my/our knowledge."</label>
                                                        </div>
                                                    </div>
                                                    {{!-- <div class="form-group">
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-5 pull-left">
                                                            <label>
                                                                <h5>Date :
                                                                    
                                                                </h5>
                                                            </label>
                                                        </div>
                                                        <div class="col-md-3 pull-right">
                                                            <label>
                                                                <h5>AHMEDABAD.</h5>
                                                            </label>
                                                        </div>
                                                    </div> --}}
                                                </fieldset>

                                                <input type="submit" class="finish btn-success btn" name="save" value="Save" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .container-fluid -->
                </div>
                <!-- #page-content -->
            </div>
            <!-- footer -->
            {{> _footer}}
        </div>
    </div>
    </div>

<script type="text/javascript">
    $("document").ready(function () {
        $("#images").change(function () {
            if (this.files.length > 6) {
                alert('Select Only 6 Images For Upload');
            }
        });
        $("form").submit(function (e) {
            var img = document.getElementById('images');
            var total = img.files.length;
            if (total > 6) {
                alert('You Selected ' + total + ' Images');
                e.preventDefault(e);
            }
        });
    });
</script>