{{> _top}}

<body class="animated-content" onload="getBoth()">
    <!-- Header -->
    {{> _nav}}
    <!-- Header -->
    <div id="wrapper">
        <div id="layout-static">
            {{> _sidebar}}
               <div class="static-content-wrapper">
                    <div class="static-content">
                        <div class="page-content">
                            <ol class="breadcrumb">                                
								<li><a href="/dashboard">Home</a></li>
								<li class="active">
									<a href="/valuation_report_lap_view">Valuation Report For Lap</a></li>
                            </ol>
                            <div class="container-fluid">
							{{> _msg}} {{> _err}}

							<div class="alert alert-default panel panel-default" >
								<h3 style="text-align:center;">Valuation Report for LAP</h3>
								<p style="text-align:center;">INDUSIND BANK LTD.</p>
							</div>
							<div data-widget-group="group1">
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-info" data-widget='{"draggable": "false"}'>
											<div class="panel-heading panel-custome">
												<h2>Valuation Report for LAP</h2>
												<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}' ></div>
											</div>
											<div class="panel-body">
												<form action="/valuation_report_lap_edit/{{reportLap.id}}?_method=PUT" method="post" id="wizard" class="form-horizontal">
													<input type="hidden" name="_method" value="PUT">						
													<fieldset title="Main">
													<legend>BANK INFORMATION</legend>
													<div class="form-group">
														<label for="fieldemail" class="col-md-3 control-label">Name of Bank:</label>
														<div class="col-md-6">
															<select class="form-control" name="sBankName" id="bank_list" name="sBankName" onchange="getBranch(this.value)" required>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label for="fieldemail" class="col-md-3 control-label">Bank Branch:</label>
														<div class="col-md-6">
															<select class="form-control" id="branch_list" name="sBranchName" required>
															</select>
														</div>
													</div>
												</fieldset>
													<fieldset title="Step 1">
														<legend class="col-md-6 pull-left">GENERAL DETAILS</legend>
														<legend class="col-md-6 pull-right">
															<span style="float:right;" name="serial_no">{{reportLap.serial_no}}</span>
														</legend>
														<div class="form-group">
															<label for="fieldemail" class="col-md-4 control-label">Valuation request given by:</label>
															<div class="col-md-6"><input  class="form-control" type="text" name="valuation_request" value="{{reportLap.generalInfo.valuation_request}} " required></div>
														</div>
														<div class="form-group">
															<label for="fieldabout" class="col-md-4 control-label">The Property is occupied by:</label>
															<div class="col-md-6"><input class="form-control" name="property_occupied_by"  type="text" value="{{ reportLap.generalInfo.property_occupied_by}} "></div>
														</div>
														<div class="form-group">
															<label for="fieldurl" class="col-md-4 control-label">Purpose of Valuation:</label>
															<div class="col-md-6"><input class="form-control"  type="text" name="purpose_of_valuation" value="{{reportLap.generalInfo.purpose_of_valuation}} " required></div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Date of Valuation Report</label>
															<div class="col-md-6">
																<input id="datepicker" class="form-control" name="date_of_valuation"  type="text" value="{{reportLap.generalInfo.date_of_valuation}} " required>
															</div>
														</div>														
														<div class="form-group">
															<label for="fieldurl" class="col-md-4 control-label">Valuation done by (Name of Field Engineer) and date of Site Visit:</label>
															<div class="col-md-6"><textarea class="form-control" name="valuation_done_by" > {{reportLap.generalInfo.valuation_done_by}}</textarea></div>
														</div>
														<div class="form-group">
															<label for="fieldurl" class="col-md-4 control-label">Name of the person who has done assessment of FMV & vetted field investigation report & signed the report:</label>
															<div class="col-md-6"><input class="form-control"  type="text" name="assessment_of_fmv" value="{{reportLap.generalInfo.assessment_of_fmv}} "></div>
														</div>
														<legend class="pull-left">CUSTOMER DETAILS</legend>
														<div class="form-group">
															<label for="fieldurl" class="col-md-3 control-label">Customer Name:</label>
															<div class="col-md-7"><input class="form-control"  type="text" name="customer_name" value=" {{reportLap.customerDetails.customer_name}}" required></div>
														</div>
														<div class="form-group">
															<label for="fieldurl" class="col-md-3 control-label">Application Number (Of file) :</label>
															<div class="col-md-7"><input class="form-control"  type="text" name="application_no" value="{{reportLap.customerDetails.application_no}} " required></div>
														</div>
														<div class="form-group">
															<label for="fieldurl" class="col-md-3 control-label">Prospective Purchaser Name (as reported):</label>
															<div class="col-md-7"><input class="form-control"  type="text" name="pro_purchaser_name" value=" {{reportLap.customerDetails.pro_purchaser_name}}"></div>
														</div>
														<div class="form-group">
															<label for="fieldurl" class="col-md-3 control-label">Name of the person met (with phone No.):</label>
															<div class="col-md-7"><input class="form-control"  type="text" name="person_met" value="{{reportLap.customerDetails.person_met}} "></div>
														</div>
														<legend class="pull-left">PROPERTY DETAILS</legend>
														<div class="form-group">
															<label for="fieldurl" class="col-md-3 control-label">Address of Property(at site):</label>
															<div class="col-md-7"><textarea class="form-control"  name="address_of_property" >{{reportLap.propertyDetails.address_of_property}} </textarea></div>
														</div>
														<div class="form-group">
															<label for="fieldurl" class="col-md-3 control-label">Address as per Legal Document:</label>
															<div class="col-md-7"><textarea class="form-control"  name="address_as_document" placeholder="(Survey No./F.P. No. Khasara No./ Plot No.)">{{reportLap.propertyDetails.address_as_document}} </textarea></div>
														</div>														
														<div class="form-group">
															<label for="fieldurl" class="col-md-3 control-label">Nearby Landmark:</label>
															<div class="col-md-7"><input type="text" class="form-control"  name="nearby_landmark" value="{{reportLap.propertyDetails.nearby_landmark}} "></div>
														</div>
														<div class="form-group">
															<label for="fieldurl" class="col-md-3 control-label">Specific Comments On Property:</label>
															<div class="col-md-7"><textarea class="form-control"  name="comment_on_property">{{reportLap.propertyDetails.comment_on_property}} </textarea></div>
														</div>
													</fieldset>
													<fieldset title="Step 2">
														<legend>DOCUMENT DETAILS</legend>
														<div class="form-group">
															<label for="fieldemail" class="col-md-3 control-label">Approved Layout Plan</label>
															<div class="radio col-sm-7">
																<label class="col-sm-2">
																	<input type="radio" name="approved_layout_plan" id="approved_layout_plan" value="Yes" onclick="ShowApprov();" checked >&emsp; Yes   
																</label>
																<label class="col-sm-2">
																	<input type="radio" name="approved_layout_plan" id="approved_layout_plan" value="No" onclick="HideApprov();"  >&emsp; No
																</label>
															</div>
														</div>
																				 
																<div class="form-group" id="layout_approved" style="display:none;">
														 		
																	<label for="fieldname" class="col-md-3 control-label" >Approving Date & Number:</label>
																	<div class="col-md-3" ><input class="form-control" type="text" id="layout_date_num" name="layout_date_num" value="{{reportLap.documentDetails.layout_date_num}} "></div>
																	<label for="fieldname" class="col-md-2 control-label" >Approving Authority:</label>
																	<div class="col-md-3" ><input class="form-control" type="text" id="layout_authority" name="layout_authority" value="{{reportLap.documentDetails.layout_authority}} "></div>
																</div>														
														<div class="form-group">
															<label for="fieldemail" class="col-md-3 control-label">Approved Building Plan</label>
															<div class="radio col-sm-7">
																<label class="col-sm-2">
																	<input type="radio" name="approved_building_plan" id="approved_building_plan" value="Yes" onclick="ShowPlanApprov();" checked >&emsp; Yes   
																</label>
																<label class="col-sm-2">
																	<input type="radio" name="approved_building_plan" id="approved_building_plan" value="No"  onclick="HidePlanApprov();"  >&emsp; No
																</label>
															</div>
														</div>
														 	
														 
																<div class="form-group" id="layout_approved" style="display:none;">
														 
															<label for="fieldname" class="col-md-3 control-label" >Approving Date & Number:</label>
															<div class="col-md-3" ><input class="form-control" type="text" id="building_date_num" name="building_date_num" value="{{ reportLap.documentDetails.building_date_num}} "></div>
															<label for="fieldname" class="col-md-2 control-label" >Approving Authority:</label>
															<div class="col-md-3" ><input class="form-control" type="text" id="building_authority" name="building_authority" value="{{ reportLap.documentDetails.building_authority}} "></div>
														</div>
														<div class="form-group">
															<label for="fieldemail" class="col-md-3 control-label">Construction Permission</label>
															<div class="radio col-sm-7">
																<label class="col-sm-2">
																	<input type="radio" name="construction_per" id="construction_per" value="Yes" onclick="ShowPerApprov();"checked  >&emsp; Yes   
																</label>
																<label class="col-sm-2">
																	<input type="radio" name="construction_per" id="construction_per" value="No" onclick="HidePerApprov();"  >&emsp; No
																</label>
															</div>
														</div>
														 	
														 
																<div class="form-group" id="layout_approved" style="display:none;">
														 
															<label for="fieldname" class="col-md-3 control-label" >Approving Date & Number:</label>
															<div class="col-md-3" ><input class="form-control" type="text" id="construction_date_num" name="construction_date_num" value="{{reportLap.documentDetails.construction_date_num}} "></div>
															<label for="fieldname" class="col-md-2 control-label" >Approving Authority:</label>
															<div class="col-md-3" ><input class="form-control" type="text" id="construction_authority" name="construction_authority" value="{{reportLap.documentDetails.construction_authority}} "></div>
														</div>
														<div class="form-group">
															<label for="fieldemail" class="col-md-3 control-label">B. U. Permission</label>
															<div class="radio col-sm-7">
																<label class="col-sm-2">
																	<input type="radio" name="bu_permission" id="bu_permission" value="Yes" onclick="ShowBuApprov();" checked  >&emsp; Yes   
																</label>
																<label class="col-sm-2">
																	<input type="radio" name="bu_permission" id="bu_permission" value="No" onclick="HideBuApprov();"  >&emsp; No
																</label>
															</div>
														</div>
														<div class="form-group" id="bu_approved" style="display:none;">
															<label for="fieldname" class="col-md-3 control-label" >Approving Date & Number:</label>
															<div class="col-md-3" ><input class="form-control" id="bu_date_num" type="text" name="bu_date_num" value=" {{reportLap.documentDetails.bu_date_num}}"></div>
															<label for="fieldname" class="col-md-2 control-label" >Approving Authority:</label>
															<div class="col-md-3" ><input class="form-control" id="bu_authority" type="text" name="bu_authority" value="{{reportLap.documentDetails.bu_authority}} "></div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-3 control-label" >Type of Usage as per Plan:</label>
															<div class="col-md-3" ><input class="form-control" type="text" name="usage_as_plan" value=" {{reportLap.documentDetails.usage_as_plan}}"></div>
															<label for="fieldname" class="col-md-2 control-label" >Type of Usage at Site:</label>
															<div class="col-md-3" ><input class="form-control" type="text" name="type_of_usage" value=" {{reportLap.documentDetails.type_of_usage}}"></div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">List of Property Document Produced for perusal:</label>
															<div class="col-md-7">
																<textarea class="form-control" name="document_list" placeholder="Index-2, Sale deed, Commencement Letter, B. U. Permission, Approved Plans">{{reportLap.documentDetails.document_list}} </textarea>
															</div>
														</div>
														<legend>OCCUPANCY DETAILS</legend>
														<div class="form-group">
															<label for="fieldname" class="col-md-3 control-label" >Status of Occupancy :</label>
															<div class="col-md-3" ><input class="form-control" type="text" name="status_of_occupancy" placeholder="(Mention floor-wise)" value="{{reportLap.occupancyDetail.status_of_occupancy}} "></div>
															<label for="fieldname" class="col-md-2 control-label" >Occupied by:</label>
															<div class="col-md-3" ><input class="form-control" type="text" name="occupied_by" value="{{ reportLap.occupancyDetail.occupied_by}} "></div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-3 control-label" >Relationship of Occupant with customer:</label>
															<div class="col-md-3" ><input class="form-control" type="text" name="relationship_with_customer" value="{{reportLap.occupancyDetail.relationship_with_customer}} "></div>
															<label for="fieldname" class="col-md-2 control-label" >Occupied Since:</label>
															<div class="col-md-3" ><input class="form-control" type="text" name="occupied_since" value="{{reportLap.occupancyDetail.occupied_since}} "></div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-3 control-label" >Completion Status of building/property:</label>
															<div class="col-md-3" ><input class="form-control" type="text" name="status_property" value="{{reportLap.occupancyDetail.status_property}} "></div>
															<label for="fieldname" class="col-md-2 control-label" >Rental Value:</label>
															<div class="col-md-3" ><input class="form-control" type="text" name="rental_value" value="{{reportLap.occupancyDetail.rental_value}} "></div>
														</div>
													</fieldset>
													<fieldset title="Step 3">
														<legend>PHYSICAL DETAILS</legend>
														<div class="form-group">
															<label for="fieldname" class="control-label col-md-1">Boundaries: </label>
															<div class="col-md-12">
																<div class="form-inline" >
																	<label for="fieldname" class="control-label col-md-2"> North :</label>
																	 &emsp;As per Sale Documents:&emsp;
																	<div class="input-group col-md-3">
																	  <input type="text" class="form-control" name="north_doc" value="{{reportLap.physicalDetail.Boundaries.north_doc}} ">
																	</div>
																	 &emsp;Actual at Site:&emsp; 
																	<div class="input-group col-md-3">
																	  <input type="text" class="form-control" name="north_site" value="{{reportLap.physicalDetail.Boundaries.north_site}} ">
																	</div>
																</div>	
															</div>
															<div class="col-md-12"><br>
																<div class="form-inline" >
																	<label for="fieldname" class="control-label col-md-2"> South :</label>
																	 &emsp;As per Sale Documents:&emsp;
																	<div class="input-group col-md-3">
																	  <input type="text" class="form-control" name="south_doc" value="{{reportLap.physicalDetail.Boundaries.south_doc}} ">
																	</div>
																	 &emsp;Actual at Site:&emsp; 
																	<div class="input-group col-md-3">
																	  <input type="text" class="form-control" name="south_site" value=" {{ reportLap.physicalDetail.Boundaries.south_site}}">
																	</div>
																</div>	
															</div>
															<div class="col-md-12"><br>
																<div class="form-inline" >
																	<label for="fieldname" class="control-label col-md-2"> East :</label>
																	 &emsp;As per Sale Documents:&emsp;
																	<div class="input-group col-md-3">
																	  <input type="text" class="form-control" name="east_doc" value="{{reportLap.physicalDetail.Boundaries.east_doc}} ">
																	</div>
																	 &emsp;Actual at Site:&emsp; 
																	<div class="input-group col-md-3">
																	  <input type="text" class="form-control" name="east_site" value=" {{ reportLap.physicalDetail.Boundaries.east_site}}">
																	</div>
																</div>	
															</div>
															<div class="col-md-12"><br>
																<div class="form-inline" >
																	<label for="fieldname" class="control-label col-md-2"> West :</label>
																	 &emsp;As per Sale Documents:&emsp;
																	<div class="input-group col-md-3">
																	  <input type="text" class="form-control" name="west_doc" value=" {{ reportLap.physicalDetail.Boundaries.west_doc}}">
																	</div>
																	 &emsp;Actual at Site:&emsp; 
																	<div class="input-group col-md-3">
																	  <input type="text" class="form-control" name="west_site" value="{{ reportLap.physicalDetail.Boundaries.west_site}} ">
																	</div>
																</div>	
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-3 control-label" >Boundaries Matching:</label>
															<div class="radio col-md-3">
																<label >
																	<input type="radio" name="boundaries_match" value="Yes" checked >&emsp; Yes   
																</label>
																<label >
																	&emsp;<input type="radio" name="boundaries_match" value="No"  >&emsp; No
																</label>
															</div>
															<label for="fieldname" class="col-md-2 control-label" >Remarks: </label>
															<div class="col-md-3" ><input class="form-control" type="text" name="boundaries_remark" value="{{reportLap.physicalDetail.Boundaries.boundaries_remark}} "></div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-2">Plot Details: </label>
															<div class="col-md-12"><br>
																<div class="form-inline" >
																	<label for="fieldname" class="control-label col-md-3"> Plot Area:</label>
																	 <div class="input-group col-md-8">
																		<input class="form-control" name="ploat_area"  type="text" value="{{reportLap.physicalDetail.Plot.ploat_area}} ">
																	</div>
																</div>	
															</div>
															<div class="col-md-12"><br>
																<div class="form-inline" >
																	<label for="fieldname" class="control-label col-md-3"> Flat demarcated at site:</label>
																	 <div class="input-group col-md-8">
																		<input class="form-control" name="flat_demarcated_site"  type="text" value=" {{reportLap.physicalDetail.Plot.flat_demarcated_site}}">
																	</div>
																</div>	
															</div>
															<div class="col-md-12"><br>
																<div class="form-inline" >
																	<label for="fieldname" class="control-label col-md-3"> Approved Land / Building Use:</label>
																	 <div class="input-group col-md-8">
																		<input class="form-control" name="approved_use"  type="text" value=" {{reportLap.physicalDetail.Plot.approved_use}}">
																	</div>
																</div>	
															</div>
															<div class="col-md-12"><br>
																<div class="form-inline" >
																	<label for="fieldname" class="control-label col-md-3"> Infrastructure of the surrounding area:</label>
																	 <div class="input-group col-md-8">
																		<input class="form-control" name="Infrastructure_area"  type="text" value=" {{reportLap.physicalDetail.Plot.Infrastructure_area}}">
																	</div>
																</div>	
															</div>
															<div class="col-md-12"><br>
																<div class="form-inline" >
																	<label for="fieldname" class="control-label col-md-3"> Nature of Locality:</label>
																	 <div class="input-group col-md-8">
																		<input class="form-control" name="nature_of_locality"  type="text" value="{{reportLap.physicalDetail.Plot.nature_of_locality}} ">
																	</div>
																</div>	
															</div>
															<div class="col-md-12"><br>
																<div class="form-inline" >
																	<label for="fieldname" class="control-label col-md-3"> Class of Locality:</label>
																	 <div class="input-group col-md-8">
																		<input class="form-control" name="class_of_locality"  type="text" value="{{reportLap.physicalDetail.Plot.class_of_locality}} ">
																	</div>
																</div>	
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-3 control-label" >Distance from Indusind office (km):</label>
															<div class="col-md-3" ><input class="form-control" type="text" name="distance_from_office" placeholder="12 Kms. (Approx)" value="{{reportLap.physicalDetail.Plot.distance_from_office}} "></div>
															<label for="fieldname" class="col-md-2 control-label" >Property Location: </label>
															<div class="col-md-3" ><input class="form-control" type="text" name="property_location" value="{{reportLap.physicalDetail.Plot.property_location}} "></div>															
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-3 control-label">Electricity Service Connection:</label>
															<div class="col-md-8">
																<input class="form-control" name="elec_service"  type="text" value="{{reportLap.physicalDetail.Plot.elec_service}} ">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-3 control-label">Type of Property:</label>
															<div class="col-md-8">
																<input class="form-control" name="property_type"  type="text" value="{{reportLap.physicalDetail.Plot.property_type}} ">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-3">Property Description (Floor-wise): </label>
															<div class="col-md-12"><br>
																<div class="form-inline" >
																	<label for="fieldname" class="control-label col-md-3"> Property Structure:</label>
																	 <div class="input-group col-md-8">
																		<input class="form-control" name="property_structure"  type="text" value=" {{reportLap.physicalDetail.propDesc.property_structure}}">
																	</div>
																</div>	
															</div>
															<div class="col-md-12"><br>
																<div class="form-inline" >
																	<label for="fieldname" class="control-label col-md-3"> No. of Units:</label>
																	 <div class="input-group col-md-8">
																		<input class="form-control" name="no_of_units"  type="text" value="{{reportLap.physicalDetail.propDesc.no_of_units}} ">
																	</div>
																</div>	
															</div>
															<div class="col-md-12"><br>
																<div class="form-inline" >
																	<label for="fieldname" class="control-label col-md-3"> No. of Kitchen:</label>
																	 <div class="input-group col-md-8">
																		<input class="form-control" name="no_of_kitchen"  type="text" value="{{reportLap.physicalDetail.propDesc.no_of_kitchen}} ">
																	</div>
																</div>	
															</div>
															<div class="col-md-12"><br>
																<div class="form-inline" >
																	<label for="fieldname" class="control-label col-md-3"> No. of Bed Rooms:</label>
																	 <div class="input-group col-md-8">
																		<input class="form-control" name="no_of_bed"  type="text" value="{{reportLap.physicalDetail.propDesc.no_of_bed}} ">
																	</div>
																</div>	
															</div>
															<div class="col-md-12"><br>
																<div class="form-inline" >
																	<label for="fieldname" class="control-label col-md-3"> Usage & Remarks if any:</label>
																	 <div class="input-group col-md-8">
																		<input class="form-control" name="usage_remark"  type="text" value="{{reportLap.physicalDetail.propDesc.usage_remark}} ">
																	</div>
																</div>	
															</div>
															
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-3 control-label" >Maintenance level:</label>
															<div class="col-md-3" ><input class="form-control" type="text" name="maintenance_level" value="{{reportLap.physicalDetail.propDesc.maintenance_level}} "></div>															
															<label for="fieldname" class="col-md-2 control-label" >Structure: </label>
															<div class="col-md-3" ><input class="form-control" type="text" name="structure" value=" {{reportLap.physicalDetail.propDesc.structure}}"></div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-3 control-label" >Interiors: </label>
															<div class="col-md-3" ><input class="form-control" type="text" name="interiors" value="{{reportLap.physicalDetail.propDesc.interiors}} "></div>
															<label for="fieldname" class="col-md-2 control-label" >Exteriors:</label>
															<div class="col-md-3" ><input class="form-control" type="text" name="exteriors" value=" {{reportLap.physicalDetail.propDesc.exteriors}}"></div>															
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-3 control-label" >Approx Age of Property: </label>
															<div class="col-md-3" ><input class="form-control" type="text" name="age_of_property" value="{{reportLap.physicalDetail.propDesc.age_of_property}} "></div>
															<label for="fieldname" class="col-md-2 control-label" >Amenities:</label>
															<div class="col-md-3" ><input class="form-control" type="text" name="amenities" value="{{reportLap.physicalDetail.propDesc.amenities}} "></div>															
														</div>
													</fieldset>
													<fieldset title="Step 4">
														<legend>VALUATION</legend>
														<div class="form-group">
															<label for="fieldname" class="col-md-10">A. AREA DETAILS & DEVIATION (RAW HOUSE / BUNGALOW / KOTHI): </label>
															<div class="col-md-12"><br>
																<div class="form-inline" >
																	<label for="fieldname" class="control-label col-md-2"> Land Area :</label>
																	 &emsp;As per approved plan:&emsp;
																	<div class="input-group col-md-2">
																	  <input type="text" class="form-control" name="land_as_plan_a" value="{{        reportLap.Valuation.areaDetailsA.land_as_plan_a}} ">
																	</div>
																	 &emsp;Actual area(As observed & Measured):&emsp; 
																	<div class="input-group col-md-2">
																	  <input type="text" class="form-control" name="land_as_area_a" value="{{        reportLap.Valuation.areaDetailsA.land_as_area_a}} ">
																	</div>
																</div>	
															</div>
															<div class="col-md-12"><br>
																<div class="form-inline" >
																	<label for="fieldname" class="control-label col-md-2"> Ground Floor :</label>
																	 &emsp;As per approved plan:&emsp;
																	<div class="input-group col-md-2">
																	  <input type="text" class="form-control" name="ground_as_plan_a" value="{{        reportLap.Valuation.areaDetailsA.ground_as_plan_a}} ">
																	</div>
																	 &emsp;Actual area(As observed & Measured):&emsp; 
																	<div class="input-group col-md-2">
																	  <input type="text" class="form-control" name="ground_as_area_a" value="{{        reportLap.Valuation.areaDetailsA.ground_as_area_a}} ">
																	</div>
																</div>	
															</div>
															<div class="col-md-12"><br>
																<div class="form-inline" >
																	<label for="fieldname" class="control-label col-md-2"> First  Floor :</label>
																	 &emsp;As per approved plan:&emsp;
																	<div class="input-group col-md-2">
																	  <input type="text" class="form-control" name="first_as_plan_a" value="{{        reportLap.Valuation.areaDetailsA.first_as_plan_a}} ">
																	</div>
																	 &emsp;Actual area(As observed & Measured):&emsp; 
																	<div class="input-group col-md-2">
																	  <input type="text" class="form-control" name="first_as_area_a" value="{{        reportLap.Valuation.areaDetailsA.first_as_area_a}} ">
																	</div>
																</div>	
															</div>
															<div class="col-md-12"><br>
																<div class="form-inline" >
																	<label for="fieldname" class="control-label col-md-2"> Second Floor :</label>
																	 &emsp;As per approved plan:&emsp;
																	<div class="input-group col-md-2">
																	  <input type="text" class="form-control" name="second_as_plan_a" value="{{        reportLap.Valuation.areaDetailsA.second_as_plan_a}} ">
																	</div>
																	 &emsp;Actual area(As observed & Measured):&emsp; 
																	<div class="input-group col-md-2">
																	  <input type="text" class="form-control" name="second_as_area_a" value="{{        reportLap.Valuation.areaDetailsA.second_as_area_a}} ">
																	</div>
																</div>	
															</div>
															<div class="col-md-12"><br>
																<div class="form-inline" >
																	<label for="fieldname" class="control-label col-md-2"> Prevailing Market Rate :</label>
																	 &emsp;As per approved plan:&emsp;
																	<div class="input-group col-md-2">
																	  <input type="text" class="form-control" name="rate_as_plan_a" value="{{        reportLap.Valuation.areaDetailsA.rate_as_plan_a}} ">
																	</div>
																	 &emsp;Actual area(As observed & Measured):&emsp; 
																	<div class="input-group col-md-2">
																	  <input type="text" class="form-control" name="rate_as_area_a" value="{{        reportLap.Valuation.areaDetailsA.rate_as_area_a}} ">
																	</div>
																</div>	
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-3 control-label" >Land Rate adopted (in Sq. Ft.): </label>
															<div class="col-md-3" ><input class="form-control" type="text" name="rate_adopted_a" value="{{        reportLap.Valuation.areaDetailsA.rate_adopted_a}} "></div>
															<label for="fieldname" class="col-md-2 control-label" >Cost of Construction (in Sq. Ft.):</label>
															<div class="col-md-3" ><input class="form-control" type="text" name="cost_construction_a" value="{{        reportLap.Valuation.areaDetailsA.cost_construction_a}} "></div>															
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-3 control-label">Land Value:</label>
															<div class="col-md-7">
																<input class="form-control" name="land_value_a"  type="text" value="{{        reportLap.Valuation.areaDetailsA.land_value_a}} ">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-3 control-label">Building Value(of total approved area):</label>
															<div class="col-md-7">
																<input class="form-control" name="building_value_a"  type="text" value="{{        reportLap.Valuation.areaDetailsA.building_value_a}} ">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-3 control-label">Depreciation considered(on building value):</label>
															<div class="col-md-7">
																<input class="form-control" name="depreciation_considered_a"  type="text" value="{{        reportLap.Valuation.areaDetailsA.depreciation_considered_a}} ">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-3 control-label">Fair Market Value of the property:</label>
															<div class="col-md-7">
																<input class="form-control" name="fair_market_value_a"  type="text" value="{{        reportLap.Valuation.areaDetailsA.fair_market_value_a}} ">
															</div>
														</div>
														
														<div class="form-group">
															<label for="fieldname" class="col-md-10">B. AREA DETAILS & DEVIATIONS (FLAT / OFFICE / SHOP): </label>
															<div class="col-md-12"><br>
																<div class="form-inline" >
																	<label for="fieldname" class="control-label col-md-2"> Land Area / UDS(wherever possible):</label>
																	 &emsp;As per approved plan:&emsp;
																	<div class="input-group col-md-2">
																	  <input type="text" class="form-control" name="land_as_plan_b" value="{{        reportLap.Valuation.areaDetailsB.land_as_plan_b}} ">
																	</div>
																	 &emsp;Actual area(As observed & Measured):&emsp; 
																	<div class="input-group col-md-2">
																	  <input type="text" class="form-control" name="land_as_area_b" value="{{        reportLap.Valuation.areaDetailsB.land_as_area_b}} ">
																	</div>
																</div>	
															</div>
															<div class="col-md-12"><br>
																<div class="form-inline" >
																	<label for="fieldname" class="control-label col-md-2"> Carpet Area (Mandatory as per actual measurement):</label>
																	 &emsp;As per approved plan:&emsp;
																	<div class="input-group col-md-2">
																	  <input type="text" class="form-control" name="carpet_as_plan_b" value="{{        reportLap.Valuation.areaDetailsB.carpet_as_plan_b}} ">
																	</div>
																	 &emsp;Actual area(As observed & Measured):&emsp; 
																	<div class="input-group col-md-2">
																	  <input type="text" class="form-control" name="carpet_as_area_b" value="{{        reportLap.Valuation.areaDetailsB.carpet_as_area_b}} ">
																	</div>
																</div>	
															</div>
															<div class="col-md-12"><br>
																<div class="form-inline" >
																	<label for="fieldname" class="control-label col-md-2"> Area Details :</label>
																	 &emsp;As per approved plan:&emsp;
																	<div class="input-group col-md-2">
																	  <textarea class="form-control" name="area_detail_as_plan">       {{reportLap.Valuation.areaDetailsB.area_detail_as_plan}}  </textarea>
																	</div>
																	 &emsp;Actual area(As observed & Measured):&emsp; 
																	<div class="input-group col-md-2">
																	  <textarea class="form-control" name="area_detail_as_area">        {{reportLap.Valuation.areaDetailsB.area_detail_as_area}} </textarea>
																	</div>
																</div>	
															</div>
														</div>
															
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Prevailing Market Rate:</label>
															<div class="col-md-7">
																<input class="form-control" name="prevailing_rate"  type="text" value="{{        reportLap.Valuation.areaDetailsB.prevailing_rate}} ">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Total Value:</label>
															<div class="col-md-7">
																<input class="form-control" name="total_value"  type="text" value="{{        reportLap.Valuation.areaDetailsB.total_value}} ">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Amenities cost (fix furniture & interior work):</label>
															<div class="col-md-7">
																<input class="form-control" name="amenities_cost"  type="text" value="{{        reportLap.Valuation.areaDetailsB.amenities_cost}} ">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Depreciation considered (on building value):</label>
															<div class="col-md-7">
																<input class="form-control" name="depreciation_building"  type="text" value="{{        reportLap.Valuation.areaDetailsB.depreciation_building}} ">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Total fair market value of the property:</label>
															<div class="col-md-7">
																<input class="form-control" name="total_fair_value"  type="text" value="{{        reportLap.Valuation.areaDetailsB.total_fair_value}} ">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Say:</label>
															<div class="col-md-7">
																<input class="form-control" name="say"  type="text" value="{{        reportLap.Valuation.areaDetailsB.say}} ">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label"><b>Remarks:</b></label>
															<div class="col-md-7">
																<input class="form-control" name="remarks"  type="text"    value="{{reportLap.Valuation.areaDetailsB.remarks}}"    >
															</div>
														</div>
													</fieldset>
													<fieldset title="Step 5">
														<legend>DECLARATION</legend>
														<label for="fieldname" class="col-md-10">SPECIFIC DETAILS OF DEVIATION AT SITE: </label>
														<div class="form-group col-md-11">
															<div class="panel panel-success" data-widget='{"draggable": "false"}'>
																<div class="panel-body no-padding">
																	<table class="table table-striped">
																		<thead>
																			<tr class="success">
																				<th>#</th>
																				<th>Details</th>
																				<th>As per approved plan</th>
																				<th>As per site</th>
																				<th>Percentage of deviation</th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr>
																				<td>1</td>
																				<td>Total Plot area (Sq. Ft.)</td>
																				<td><input class="form-control" name="plot_area_plan"  type="text" value="{{        reportLap.declaration.plan.plot_area_plan}} "></td>
																				<td><input class="form-control" name="plot_area_site"  type="text" value=" {{reportLap.declaration.site.plot_area_site}}"></td>
																				<td><input class="form-control" name="plot_area_deviation"  type="text" value=" {{ reportLap.declaration.deviation.plot_area_deviation}}"></td>																				
																			</tr>
																			<tr>
																				<td>2</td>
																				<td>No. of Floors</td>
																				<td><input class="form-control" name="no_of_flore_plan"  type="text" value="{{        reportLap.declaration.plan.no_of_flore_plan}} "></td>
																				<td><input class="form-control" name="no_of_flore_site"  type="text" value="{{reportLap.declaration.site.no_of_flore_site}} "></td>
																				<td><input class="form-control" name="no_of_flore_deviation"  type="text" value="{{ reportLap.declaration.deviation.no_of_flore_deviation}} "></td>																				
																			</tr>
																			<tr>
																				<td>3</td>
																				<td>No. of Units</td>
																				<td><input class="form-control" name="units_area_plan"  type="text" value=" {{        reportLap.declaration.plan.units_area_plan}}"></td>
																				<td><input class="form-control" name="units_area_site"  type="text" value="{{reportLap.declaration.site.units_area_site}} "></td>
																				<td><input class="form-control" name="units_area_deviation"  type="text" value="{{ reportLap.declaration.deviation.units_area_deviation}} "></td>																				
																			</tr>
																			<tr>
																				<td>4</td>
																				<td>Total Built up Area(Sq. Ft.)</td>
																				<td><input class="form-control" name="built_area_plan"  type="text" value="{{        reportLap.declaration.plan.built_area_plan}} "></td>
																				<td><input class="form-control" name="built_area_site"  type="text" value="{{ reportLap.declaration.site.built_area_site}} "></td>
																				<td><input class="form-control" name="built_area_deviation"  type="text" value="{{ reportLap.declaration.deviation.built_area_deviation}} "></td>																				
																			</tr>
																			<tr>
																				<td>5</td>
																				<td>Ground Floor</td>
																				<td><input class="form-control" name="ground_area_plan"  type="text" value="{{        reportLap.declaration.plan.ground_area_plan}} "></td>
																				<td><input class="form-control" name="ground_area_site"  type="text" value=" {{ reportLap.declaration.site.ground_area_site}}"></td>
																				<td><input class="form-control" name="ground_area_deviation"  type="text" value="{{ reportLap.declaration.deviation.ground_area_deviation}} "></td>																				
																			</tr>
																			<tr>
																				<td>6</td>
																				<td>First Floor</td>
																				<td><input class="form-control" name="first_area_plan"  type="text" value=" {{        reportLap.declaration.plan.first_area_plan}}"></td>
																				<td><input class="form-control" name="first_area_site"  type="text" value="{{ reportLap.declaration.site.first_area_site}} "></td>
																				<td><input class="form-control" name="first_area_deviation"  type="text" value="{{ reportLap.declaration.deviation.first_area_deviation}} "></td>																				
																			</tr>
																			<tr>
																				<td>7</td>
																				<td>F.S.I.</td>
																				<td><input class="form-control" name="fsi_area_plan"  type="text" value="{{        reportLap.declaration.plan.fsi_area_plan}} "></td>
																				<td><input class="form-control" name="fsi_area_site"  type="text" value="{{ reportLap.declaration.site.fsi_area_site}} "></td>
																				<td><input class="form-control" name="fsi_area_deviation"  type="text" value="{{ reportLap.declaration.deviation.fsi_area_deviation}} "> </td>																				
																			</tr>
																			<tr>
																				<td>8</td>
																				<td>Plot Coverage</td>
																				<td><input class="form-control" name="coverage_area_plan"  type="text" value="{{        reportLap.declaration.plan.coverage_area_plan}} "></td>
																				<td><input class="form-control" name="coverage_area_site"  type="text" value="{{ reportLap.declaration.site.coverage_area_site}} "></td>
																				<td><input class="form-control" name="coverage_area_deviation"  type="text" value="{{ reportLap.declaration.deviation.coverage_area_deviation}} "></td>																				
																			</tr>
																			<tr>
																				<td>9</td>
																				<td>Setbacks</td>
																				<td><input class="form-control" name="setbacks_area_plan"  type="text" value="{{        reportLap.declaration.plan.setbacks_area_plan}} "></td>
																				<td><input class="form-control" name="setbacks_area_site"  type="text" value="{{ reportLap.declaration.site.setbacks_area_site}} "></td>
																				<td><input class="form-control" name="setbacks_area_deviation"  type="text" value=" {{ reportLap.declaration.deviation.setbacks_area_deviation}}"></td>																				
																			</tr>
																			<tr>
																				<td>10</td>
																				<td>Front</td>
																				<td><input class="form-control" name="front_area_plan"  type="text" value="{{        reportLap.declaration.plan.front_area_plan}} "></td>
																				<td><input class="form-control" name="front_area_site"  type="text" value="{{ reportLap.declaration.site.front_area_site}} "></td>
																				<td><input class="form-control" name="front_area_deviation"  type="text" value="{{ reportLap.declaration.deviation.front_area_deviation}} "></td>																				
																			</tr>
																			<tr>
																				<td>11</td>
																				<td>Rear</td>
																				<td><input class="form-control" name="rear_area_plan"  type="text" value=" {{        reportLap.declaration.plan.rear_area_plan}}"></td>
																				<td><input class="form-control" name="rear_area_site"  type="text" value="{{ reportLap.declaration.site.rear_area_site}} "></td>
																				<td><input class="form-control" name="rear_area_deviation"  type="text" value="{{ reportLap.declaration.deviation.rear_area_deviation}} "></td>																				
																			</tr>
																			<tr>
																				<td>12</td>
																				<td>Left</td>
																				<td><input class="form-control" name="left_area_plan"  type="text" value=" {{        reportLap.declaration.plan.left_area_plan}}"></td>
																				<td><input class="form-control" name="left_area_site"  type="text" value="{{ reportLap.declaration.site.left_area_site}} "></td>
																				<td><input class="form-control" name="left_area_deviation"  type="text" value="{{ reportLap.declaration.deviation.left_area_deviation}} "></td>																				
																			</tr>
																			<tr>
																				<td>13</td>
																				<td>Right</td>
																				<td><input class="form-control" name="right_area_plan"  type="text" value="{{        reportLap.declaration.plan.right_area_plan}} "></td>
																				<td><input class="form-control" name="right_area_site"  type="text" value="{{reportLap.declaration.site.right_area_site}} "></td>
																				<td><input class="form-control" name="right_area_deviation"  type="text" value=" {{reportLap.declaration.deviation.right_area_deviation}}"></td>																				
																			</tr>																			
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
														<div class="form-group">
															<label class="col-md-3 control-label">Images:</label>
															<div class="col-md-8">
																<div class="fileinput fileinput-new" data-provides="fileinput">
																	<div class="input-group">
																		<div class="form-control uneditable-input" data-trigger="fileinput">
																			<i class="fa fa-file fileinput-exists"></i>&nbsp;<span class="fileinput-filename"></span>
																		</div>
																		<span class="input-group-btn">
																			<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
																			<span class="btn btn-default btn-file">
																				<span class="fileinput-new">Select file</span>
																				<span class="fileinput-exists">Change</span>
																				<input type="file" id="images"  name="files[]" multiple="multiple" accept="image/*" />
																			</span>																			
																		</span>
																	</div>
																</div>
															</div>
														</div>
														<div class="form-group">
															<div class="col-md-2"></div>
															<div class="col-md-8">
																<h5>I hereby declare that:</h5>
																<br><label><input type="checkbox" value="" name="remember1"  required>&emsp;"The property was inspected by me/us."</label>	
																<br><label><input type="checkbox" value="" name="remember2"  required>&emsp;"I/we have no direct or Indirect interest in the property valued."</label>	
																<br><label><input type="checkbox" value="" name="remember3"  required>&emsp;"The information furnished above is true and correct to my/our knowledge."</label>	
															</div>
														</div>
														{{!-- <div class="form-group">
															<div class="col-md-1"></div>
															<div class="col-md-5 pull-left">
																<label><h5>Date :  </h5></label>
															</div>
															<div class="col-md-3 pull-right">
																<label><h5>AHMEDABAD.</h5></label>
															</div>
														</div> --}}
													</fieldset>
													<input type="submit" class="finish btn-success btn" name="update" value="Update" />
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div> <!-- .container-fluid -->
                        </div> <!-- #page-content -->
                    </div>
                    <!-- footer -->
                {{> _footer}}
                </div>
            </div>
        </div>