{{> _top}}

<body class="animated-content" onload="getBoth()">
	<!-- Header -->
	{{> _nav}}
	<!-- Header -->
	<div id="wrapper">
		<div id="layout-static">
			{{> _sidebar}}
			<div class="static-content-wrapper">
				<div class="static-content">
					<div class="page-content">
						<ol class="breadcrumb">
							<li>
								<a href="/dashboard">Home</a>
							</li>
							<li class="active">
								<a href="/valuation_report_a">Valuation Reports</a>
							</li>
						</ol>
						<div class="container-fluid">
							{{> _msg}} {{> _err}}

							<div class="alert alert-default panel panel-default">
								<h3 style="text-align:center;">Valuation Report</h3>
								<p style="text-align:center;"></p>
							</div>
							<div data-widget-group="group1">
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-info" data-widget='{"draggable": "false"}'>
											<div class="panel-heading panel-custome">
												<h2>VALUATION REPORT</h2>
												<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
											</div>
											<div class="panel-body">
												<form action="/valuation_report_a_edit/{{reportA.id}}?_method=PUT" method="post" id="wizard"  class="form-horizontal" enctype="multipart/form-data">
													<input type="hidden" name="_method" value="PUT">
															<fieldset title="Main">
																<legend>BANK INFORMATION</legend>
																<div class="form-group">
																	<label for="fieldemail" class="col-md-3 control-label">Name of Bank:</label>
																	<div class="col-md-6">
																		<select class="form-control" name="sBankName" id="bank_list" name="sBankName" onchange="getBranch(this.value)"  required>
																		</select>
																	</div>
																</div>
																<div class="form-group">
																	<label for="fieldemail" class="col-md-3 control-label">Bank Branch:</label>
																	<div class="col-md-6">
																		<select class="form-control" id="branch_list" name="sBranchName"  required>
																		</select>
																	</div>
																</div>
															</fieldset>
													<fieldset title="Step 1">
														<legend class="col-md-6 pull-left">GENERAL INFORMATION</legend>
														<legend class="col-md-6 pull-right">
															<span style="float:right;" name="serial_no">{{reportA.serial_no}}</span>
														</legend>
														<div class="form-group">
															<label for="fieldemail" class="col-md-3 control-label">Name of Customer:</label>
															<div class="col-md-6">
																<input class="form-control" type="text" name="name_of_customer" value="{{reportA.generalInfo.name_of_customer}}" required>
															</div>
														</div>
														<div class="form-group">
															<label for="fieldabout" class="col-md-3 control-label">Customer ID:</label>
															<div class="col-md-6">
																<input class="form-control" name="customer_id" type="text" value="{{reportA.generalInfo.customer_id}}">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldurl" class="col-md-3 control-label">Purpose of valuation:</label>
															<div class="col-md-6">
																<input class="form-control" type="text" name="purpose_of_valuation" value="{{reportA.generalInfo.purpose_of_valuation}}" required>
															</div>
														</div>
														<div class="form-group">
															<label for="fieldurl" class="col-md-3 control-label">Location:</label>
															<div class="col-md-6">
																<textarea class="form-control" name="location" required>{{reportA.generalInfo.location}}</textarea>
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-3 control-label">Date of Valuation</label>
															<div class="col-md-6">
																<input id="datepicker" class="form-control" name="date_of_valuation" type="text" value="{{reportA.generalInfo.date_of_valuation}}" required>
															</div>
														</div>
														<div class="form-group">
															<label for="fieldurl" class="col-md-3 control-label">Estimated Market Value:</label>
															<div class="col-md-6">
																<input class="form-control" type="text" name="estimated_market_value" value="{{reportA.generalInfo.estimated_market_value}}" required>
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-3 control-label">Documents Provided:</label>
															<div class="col-md-6">
																<div class="col-md-12 radio block">
																	<label>
																	<input type="checkbox" name="documents_provided" value="Construction Permission" checked>&emsp;Construction Permission</label>
																	&emsp;
																	<input type="checkbox" name="documents_provided" value="Construction Permission">&emsp;Construction Permission</label>
																	<label>
																		<input type="checkbox" name="documents_provided" value="Revised Building Plan">&emsp;Revised Building Plan</label>
																	&emsp;
																	<label>
																		<input type="checkbox" name="documents_provided" value="Regd. Deed of Conveyance">&emsp;Regd. Deed of Conveyance</label>
																	&nbsp;
																	<label>
																		<input type="checkbox" name="documents_provided" value="Revised Layout Plan">&emsp;Revised Layout Plan </label>
																	&emsp;
																	<label>
																		<input type="checkbox" name="documents_provided" value="B. U. Permission">&emsp;B. U. Permission</label>
																</div>
																<div class="col-md-12">
																	<input class="form-control" type="text" name="documents_provided_other" placeholder="Other" value="{{reportA.generalInfo.documents_provided_other}}">
																</div>
															</div>
														</div>
													</fieldset>
													<fieldset title="Step 2">
														<legend>Property Details</legend>
														<div class="form-group">
															<label for="fieldname" class="col-md-3 control-label">Revenue Survey No:</label>
															<div class="col-md-3">
																<input class="form-control" type="text" name="revenue_survey_no" value="{{reportA.propertyDetails.revenue_survey_no}}">
															</div>
															<label for="fieldname" class="col-md-1 control-label">F. P. No.: </label>
															<div class="col-md-3">
																<input class="form-control" type="text" name="fp_no" value="{{reportA.propertyDetails.fp_no}}">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-3 control-label">T.P.S. No.: </label>
															<div class="col-md-3">
																<input class="form-control" type="text" name="tps_no" value="{{reportA.propertyDetails.tps_no}}">
															</div>
															<label for="fieldname" class="col-md-1 control-label">O.P. No.:</label>
															<div class="col-md-3">
																<input class="form-control" type="text" name="op_no" value="{{reportA.propertyDetails.op_no}}">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-3 control-label">Flat No.: </label>
															<div class="col-md-3">
																<input class="form-control" type="text" name="flat_no" value="{{reportA.propertyDetails.flat_no}}">
															</div>
															<label for="fieldname" class="col-md-1 control-label">Mouje:</label>
															<div class="col-md-3">
																<input class="form-control" type="text" name="mouje" value="{{reportA.propertyDetails.mouje}}">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-3 control-label">Society Name:</label>
															<div class="col-md-3">
																<input class="form-control" type="text" name="society_name" value="{{reportA.propertyDetails.society_name}}" required>
															</div>
															<label for="fieldname" class="col-md-1 control-label">Landmark: </label>
															<div class="col-md-3">
																<input class="form-control" type="text" name="landmark" value="landmark" required>
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-3 control-label">Taluka: </label>
															<div class="col-md-3">
																<input class="form-control" type="text" name="taluka" value="{{reportA.propertyDetails.taluka}}" required>
															</div>
															<label for="fieldname" class="col-md-1 control-label">District:</label>
															<div class="col-md-3">
																<input class="form-control" type="text" name="district" value="{{reportA.propertyDetails.district}}" required>
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-3 control-label">Availability of Local Transport:</label>
															<div class="col-md-5 radio block">

																<label>
																	<input type="checkbox" name="local_transport" value="A.M.T.S.">&emsp;A.M.T.S.</label>
																&emsp;
																<label>
																	<input type="checkbox" name="local_transport" value="Buses">&emsp;Buses</label>
																&emsp;
																<label>
																	<input type="checkbox" name="local_transport" value="B.R.T.S.">&emsp;B.R.T.S.</label>
																&nbsp;
																<label>
																	<input type="checkbox" name="local_transport" value="Rickshaw">&emsp;Rickshaw</label>

															</div>
															<div class="col-md-2">
																<input class="form-control " type="text" name="local_transport_other" placeholder="Other" value="{{reportA.propertyDetails.local_transport_other}}">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-3 control-label">Distance from City Center: </label>
															<div class="col-md-3">
																<input class="form-control" type="text" name="distance_to_city_center" value="{{reportA.propertyDetails.distance_to_city_center}}" required>
															</div>
															<label for="fieldname" class="col-md-2 control-label">Class of Locality:</label>
															<div class="col-md-2">
																<input class="form-control" type="text" name="class_of_locality" placeholder="Middle Class" value="{{reportA.propertyDetails.class_of_locality}}">
															</div>
														</div>
														<div class="form-group">
															<label for="radio" class="col-sm-3 control-label">Quality of Infrastructure in the Vicinity</label>
															<div class="col-sm-7 tabular-border">
																<input type="text" name="quality_of_infrastructure" class="form-control" value="{{reportA.propertyDetails.quality_of_infrastructure}}">
															</div>
														</div>
														<div class="form-group">
															<div class="col-md-3">
																<label for="fieldname" class="control-label">Boundaries(As per site verification)</label>
															</div>
															<div class="col-md-7">
																<label for="fieldname" class="control-label col-md-2"> North :</label>
																<label class="col-md-10">
																	<input type="text" class="form-control" name="north_boundarie" value="{{reportA.propertyDetails.Boundry.north_boundarie}}">
																</label>
																<label for="fieldname" class="control-label col-md-2">South: </label>
																<label class="col-md-10">
																	<input type="text" class="form-control" name="south_boundarie" value="{{reportA.propertyDetails.Boundry.south_boundarie}}">
																</label>
																<label for="fieldname" class="control-label col-md-2"> East :</label>
																<label class="col-md-10">
																	<input type="text" class="form-control" name="east_boundarie" value="{{reportA.propertyDetails.Boundry.east_boundarie}}">
																</label>
																<label for="fieldname" class="control-label col-md-2">West: </label>
																<label class="col-md-10">
																	<input type="text" class="form-control" name="west_boundarie" value="{{reportA.propertyDetails.Boundry.west_boundarie}}">
																</label>
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-6 control-label">Do the Boundaries at Site match,as mentioned in the documentation?</label>
															<div class="col-sm-3 tabular-border">
																<div class="radio block icheck">
																	<label>
																		<input type="radio" name="boundaries_in_doc" value="true" >&emsp;Yes&emsp;</label>
																	&emsp;
																	<label>
																		<input type="radio" name="boundaries_in_doc" value="false" checked>&emsp;No</label>
																</div>
															</div>
														</div>
													</fieldset>
													<fieldset title="Step 3">
														<legend>Property Details</legend>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Level of land with topographical conditions.</label>
															<div class="col-md-6">
																<input class="form-control" name="topographical_condition" type="text" value="{{reportA.propertyDetails.topographical_condition}}">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Status of the land / Flat:</label>
															<div class="col-md-6">
																<input class="form-control" name="status_of_land" type="text" value="{{reportA.propertyDetails.status_of_land}}">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Type of Property:</label>
															<div class="col-md-6">
																<input class="form-control" name="type_of_property" type="text" value="{{reportA.propertyDetails.type_of_property}}" required>
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Approved usage of property:</label>
															<div class="col-md-6">
																<input class="form-control" name="approved_usage" type="text" value="{{reportA.propertyDetails.approved_usage}}" required>
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Actual usage of the property:</label>
															<div class="col-md-6">
																<input class="form-control" name="actual_usage" type="text" value="{{reportA.propertyDetails.actual_usage}}" required>
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Type of Structure:</label>
															<div class="col-md-6">
																<input class="form-control" name="type_of_structure" value="{{reportA.propertyDetails.type_of_structure}}" type="text">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">No. of Floors:</label>
															<div class="col-md-6">
																<input class="form-control" name="no_of_floors" type="text" value="{{reportA.propertyDetails.no_of_floors}}" required>
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Occupancy Details:</label>
															<div class="col-md-6">
																<input class="form-control" name="occupancy_details" value="{{reportA.propertyDetails.occupancy_details}}" type="text" required>
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-6 control-label">Does the property have Electricity / Water / Drainage connection:</label>
															<div class="col-sm-3 tabular-border">
																<div class="radio block icheck">
																	<label>
																		<input type="radio" name="property_connection" value="Available">&emsp; Available&emsp;</label>
																	&emsp;
																	<label>
																		<input type="radio" name="property_connection" value="Not Available" checked>&emsp;Not Available</label>
																</div>
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-6 control-label">Proximity to civic amenities like school, hospital, market, etc.</label>
															<div class="col-md-4">
																<input class="form-control" name="proximity" value="{{reportA.propertyDetails.proximity}}" type="text">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Development of surrounding area:</label>
															<div class="col-md-6">
																<input class="form-control" name="development_area" value="{{reportA.propertyDetails.development_area}}" type="text">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Approval Details:</label>
															<div class="col-md-6">
																<textarea class="form-control" name="approval_details">{{reportA.propertyDetails.approval_details}}</textarea>
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Construction Details:</label>
															<div class="col-md-6">
																<textarea class="form-control" name="construction_details" type="text">{{reportA.propertyDetails.construction_details}}</textarea>
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Usage :</label>
															<div class="col-md-6">
																<input class="form-control" name="usages_of_pro" type="text" value="{{reportA.propertyDetails.usages_of_pro}}">
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-6 control-label">Whether the construction is as per approved building plan?</label>
															<div class="col-sm-3 tabular-border">
																<div class="radio block icheck">
																	<label>
																		<input type="radio" name="building_plan" value="Yes" checked>&emsp; Yes&emsp;</label>
																	&emsp;
																	<label>
																		<input type="radio" name="building_plan" value="No" >&emsp;No</label>
																</div>
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Recommended / Available Side Margin :</label>
															<div class="col-md-6">
																<input class="form-control" name="side_margin" type="text" value="{{reportA.propertyDetails.side_margin}}">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Front Margin:</label>
															<div class="col-md-6">
																<input class="form-control" name="front_margin" type="text" value="{{reportA.propertyDetails.front_margin}}">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Quality of construction:</label>
															<div class="col-md-6">
																<input class="form-control" name="quality_of_construction" type="text" value="{{reportA.propertyDetails.quality_of_construction}}">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Maintenance of the property:</label>
															<div class="col-md-6">
																<input class="form-control" name="maintenance_of_property" type="text" value="{{reportA.propertyDetails.maintenance_of_property}}">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Current life of the structure:</label>
															<div class="col-md-6">
																<input class="form-control" name="current_life_structure" type="text" value="{{reportA.propertyDetails.current_life_structure}}">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Estimated future life of the structure:</label>
															<div class="col-md-6">
																<input class="form-control" name="estimated_life_structure" type="text" value="{{reportA.propertyDetails.estimated_life_structure}}">
															</div>
														</div>
													</fieldset>
													<fieldset title="Step 4">
														<legend>Recommended Valuation of the property</legend>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Recommended Rate of the Flat</label>
															<div class="col-md-6">
																<input class="form-control" name="recommended_rate_flat" type="text" value="{{reportA.RecomValuation.recommended_rate_flat}}">
															</div>
														</div>
														<div class="form-group">
															<div class="col-md-3">
																<label for="fieldname" class="control-label pull-right">Values :- </label>
															</div>
															<div class="col-md-7">
																<label for="fieldname" class="control-label col-md-3"> Value of Flat :</label>
																<label class="col-md-9">
																	<input type="text" class="form-control" name="value_of_flat" value="{{reportA.RecomValuation.values.value_of_flat}}">
																</label>
																<label for="fieldname" class="control-label col-md-3">Value of Terrace :</label>
																<label class="col-md-9">
																	<input type="text" class="form-control" name="value_of_terrace" value="{{reportA.RecomValuation.values.value_of_terrace}}">
																</label>
																<label for="fieldname" class="control-label col-md-3"> Total Value :</label>
																<label class="col-md-9">
																	<input type="text" class="form-control" name="total_value" value="{{reportA.RecomValuation.values.total_value}}">
																</label>
																<label for="fieldname" class="control-label col-md-3">Say :</label>
																<label class="col-md-9">
																	<input type="text" class="form-control" name="say" value="{{reportA.RecomValuation.values.say}}">
																</label>
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Stage of Construction:</label>
															<div class="col-md-6">
																<input class="form-control" name="stage_of_const" type="text" value="{{reportA.RecomValuation.stage_of_const}}">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">(%) Work Completed:</label>
															<div class="col-md-6">
																<input class="form-control" name="work_complited" type="text" value="{{reportA.RecomValuation.work_complited}}">
																												</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">(%) Disbursement Recommended:</label>
															<div class="col-md-6">
																<input class="form-control" name="disbursement_recommended" type="text" value="{{reportA.RecomValuation.disbursement_recommended}}">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Date of Property Visit</label>
															<div class="col-md-6">
																<input id="datepicker2" class="form-control" name="date_of_pro_visit" type="text" value="{{reportA.RecomValuation.date_of_pro_visit}}">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Valuation as per Government reckoner rates:</label>
															<div class="col-md-6">
																<input class="form-control" name="government_rates" type="text" value="{{reportA.RecomValuation.government_rates}}">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Distress valuation of the property:</label>
															<div class="col-md-6">
																<input class="form-control" name="valuation_property" type="text" value="{{reportA.RecomValuation.valuation_property}}">
															</div>
														</div>
														<div class="form-group">
															<label for="fieldname" class="col-md-4 control-label">Rental value per month:</label>
															<div class="col-md-6">
																<input class="form-control" name="rent_value" type="text" value="{{reportA.RecomValuation.rent_value}}">
															</div>
														</div>
													</fieldset>
													<fieldset title="Step 5">
														<legend>Undertaking</legend>
														<div class="form-group">
															<label for="fieldname" class="col-md-3 control-label">Remarks if any:</label>
															<div class="col-md-7">
																<textarea class="form-control" name="remarks">{{reportA.remarks}}</textarea>
															</div>
														</div>
														<div class="form-group">
															<label class="col-md-3 control-label">Images:</label>
															<div class="col-md-8">
																<div class="fileinput fileinput-new" data-provides="fileinput">
																	<div class="input-group">
																		<div class="form-control uneditable-input" data-trigger="fileinput">
																			<i class="fa fa-file fileinput-exists"></i>&nbsp;
																			<span class="fileinput-filename"></span>
																		</div>
																		<span class="input-group-btn">
																			<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
																			<span class="btn btn-default btn-file">
																				<span class="fileinput-new">Select file</span>
																				<span class="fileinput-exists">Change</span>
																				<input type="file" id="images" name="files" multiple="multiple" accept="image/*" />
																			</span>
																		</span>
																	</div>
																</div>
															</div>
														</div>
														<div class="form-group">
															<label class="col-md-3 control-label">1) Google Map :</label>
															<div class="col-md-8">
																<div class="fileinput fileinput-new" data-provides="fileinput">
																	<div class="input-group">
																		<div class="form-control uneditable-input" data-trigger="fileinput">
																			<i class="fa fa-file fileinput-exists"></i>&nbsp;
																			<span class="fileinput-filename"></span>
																		</div>
																		<span class="input-group-btn">
																			<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
																			<span class="btn btn-default btn-file">
																				<span class="fileinput-new">Select file</span>
																				<span class="fileinput-exists">Change</span>
																				<input type="file" name="google_map" accept="image/*" />
																			</span>

																		</span>
																	</div>
																</div>
															</div>
														</div>
														<div class="form-group">
															<label class="col-md-3 control-label">2) Google Map:</label>
															<div class="col-md-8">
																<div class="fileinput fileinput-new" data-provides="fileinput">
																	<div class="input-group">
																		<div class="form-control uneditable-input" data-trigger="fileinput">
																			<i class="fa fa-file fileinput-exists"></i>&nbsp;
																			<span class="fileinput-filename"></span>
																		</div>
																		<span class="input-group-btn">
																			<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
																			<span class="btn btn-default btn-file">
																				<span class="fileinput-new">Select file</span>
																				<span class="fileinput-exists">Change</span>
																				<input type="file" name="google_map2" accept="image/*" />
																			</span>

																		</span>
																	</div>
																</div>
															</div>
														</div>
														<div class="form-group">
															<div class="col-md-2"></div>
															<div class="col-md-8">
																<br>
																<label>
																	<input type="checkbox" value="" name="remember1" required>&emsp;"I have personally visited the property & identified the same based on the documents provided."</label>
																<br>
																<label>
																	<input type="checkbox" value="" name="remember2" required>&emsp;"I/we have no direct or indirect interest in the property being valued."</label>
																<br>
																<label>
																	<input type="checkbox" value="" name="remember3" required>&emsp;"The information furnished above is true and correct to my knowledge."</label>
															</div>
														</div>
													</fieldset>
													<input type="submit" class="finish btn-success btn" name="update" value="Update" />
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- .container-fluid -->
					</div>
					<!-- #page-content -->
				</div>
				<!-- footer -->
				{{> _footer}}
			</div>
		</div>
	</div>