<body class="focused-form animated-content">
    <div class="container" id="login-form">
        <a href="/" class="login-logo">
            <img src="/assets/img/logo.png">
        </a>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Login Form</h2>
                    </div>
                    <div class="panel-body">
                    {{> _msg}} {{> _err}}

                        <form action="/authenticate" method="post" class="form-horizontal" id="validate-form">
                            <div class="form-group mb-md">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="ti ti-user"></i>
                                        </span>
                                        <input type="email" name="email" class="form-control" placeholder="Enter Email" aria-describedby="basic-addon3" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-md">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="ti ti-key"></i>
                                        </span>
                                        <input type="password" name="password" class="form-control" placeholder="Enter Password" required aria-describedby="basic-addon4">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-n">
                                <div class="col-xs-12">
                                    <div class="checkbox-inline icheck pull-right p-n">
                                        <a href="/forgot">Forgot Password ?</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="panel-footer">
                        <div class="clearfix">
                            <a href="/register" class="btn btn-default pull-left">Register</a>
                            <input type="submit" class="finish btn-info  btn pull-right" name="Login" value="Login"/>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/assets/js/jquery-1.10.2.min.js"></script>
    <!-- Load jQuery -->
    <script type="text/javascript" src="/assets/js/jqueryui-1.10.3.min.js"></script>
    <!-- Load jQueryUI -->
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <!-- Load Bootstrap -->
    <script type="text/javascript" src="/assets/js/enquire.min.js"></script>
    <!-- Load Enquire -->

    <script type="text/javascript" src="/assets/plugins/velocityjs/velocity.min.js"></script>
    <!-- Load Velocity for Animated Content -->
    <script type="text/javascript" src="/assets/plugins/velocityjs/velocity.ui.min.js"></script>

    <script type="text/javascript" src="/assets/plugins/wijets/wijets.js"></script>
    <!-- Wijet -->

    <script type="text/javascript" src="/assets/plugins/codeprettifier/prettify.js"></script>
    <!-- Code Prettifier  -->
    <script type="text/javascript" src="/assets/plugins/bootstrap-switch/bootstrap-switch.js"></script>
    <!-- Swith/Toggle Button -->

    <script type="text/javascript" src="/assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>
    <!-- Bootstrap Tabdrop -->

    <script type="text/javascript" src="/assets/plugins/iCheck/icheck.min.js"></script>
    <!-- iCheck -->

    <script type="text/javascript" src="/assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->

    <script type="text/javascript" src="/assets/js/application.js"></script>
    <script type="text/javascript" src="/assets/demo/demo.js"></script>
    <script type="text/javascript" src="/assets/demo/demo-switcher.js"></script>