
<style>
 .notifyjs-happyblue-base {
  white-space: nowrap;
  background-color: #DFF0D8;
  padding: 5px;
}
.notifyjs-happyblue-superblue {
  color: white;
  background-color:#DFF0D8;
}
</style><body class="focused-form animated-content">
    <div class="container" id="registration-form">
        <a href="/" class="login-logo">
            <img src="/assets/img/logo.png">
        </a>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="container-fluid">
                        <div data-widget-group="group1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel-body">
                                        {{> _msg}} {{> _err}}
                                        <form action="/register" method="POST" id="wizard"  class="form-horizontal">
                                            <div class="form-group mb-md">
                                                <label for="FullName" class="col-xs-4 control-label">Name</label>
                                                <div class="col-xs-8">
                                                    <input type="text" name="sFullname" id="fname" value="{{this.sFullname}}" class="form-control" placeholder="Your Name" onkeyup="checkFname()" required>
                                                </div>
                                            </div>
                                            <div class="form-group mb-md">
                                                <label for="Email" class="col-xs-4 control-label">Email address</label>
                                                <div class="col-xs-8">
                                                    <input type="email" name="sEmail" id="email" value="{{this.sEmail}}" class="form-control" placeholder="Enter Email" onkeyup="checkEmail()" required>
                                                </div>
                                            </div>
                                            <div class="form-group mb-md">
                                                <label for="Password" class="col-xs-4 control-label">Password</label>
                                                <div class="col-xs-8">
                                                    <input type="password" name="sPassword" id="password" class="form-control" placeholder="Enter Password" onfocusout="pcheck()" onkeyup="pvalid()" required>
                                                </div>
                                            </div>
                                            <div class="form-group mb-md">
                                                <label for="cPassword" class="col-xs-4 control-label">Confirm Password</label>
                                                <div class="col-xs-8">
                                                    <input type="password" name="cpassword" id="cpassword" class="form-control" placeholder="Confirm Password" onkeyup="pcheck()" required>
                                                </div>
                                                <span id="pcheck"></span>
                                            </div>
                                            {{!-- <script src='https://www.google.com/recaptcha/api.js'></script>
                                            <div class="form-group mb-md">
                                                <label for="FullName" class="col-xs-4 control-label"></label>
                                                <div class="col-xs-8">
                                                    <div name="" class="g-recaptcha " data-sitekey="6LciSUMUAAAAAGDqv-FAh5Dl0i4GoVk7IE4yOzAC"></div>
                                                </div>
                                            </div> --}}


                                            <div class="clearfix">
                                                <input type="submit" class="finish btn-info  btn pull-left" name="register" value="Register" />
                                                <a href="/login" class="btn btn-default pull-right">Already Registered? Login</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- #page-content -->
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/assets/js/jquery-1.10.2.min.js"></script>
    <!-- Load jQuery -->
    <script type="text/javascript" src="/assets/js/jqueryui-1.10.3.min.js"></script>
    <!-- Load jQueryUI -->
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <!-- Load Bootstrap -->
    <script src="/assets/js/notify.js"></script>

<script>
    $.notify.addStyle('happyblue', {
            html: "<div><span data-notify-text/></div>",
            classes: {
                base: {
                    "white-space": "nowrap",
                    "background-color": "#DFF0D8",
                    "padding": "5px"
                },
                superblue: {
                    "color": "white",
                    "background-color": "#DFF0D8"
                }
            }
        });
    function checkFname(){
        const cfname = /^(([a-zA-Z]{2,20})+(\s{0,2}[a-zA-Z,' ']{2,20}))*$/
        if ($('#fname').val() === '') {
            document.getElementById("fname").style.border = "";
            return false;
        } else if (cfname.test($('#fname').val()) == false) {
            document.getElementById("fname").style.border = "1px solid red";
            $("#fname").notify(
                "Enter Valid Name.",
                { position: "right" }
            );
        } else {
            $("#fname").notify('', {
                style: 'happyblue',
                position:"right"
            });           
            document.getElementById("fname").style.border = "1px solid #00FF00";
        }
    }
    function checkEmail() {
        const cemail = /[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,8}$/;
        if ($('#email').val() === '') {
            document.getElementById("email").style.border = "";
            return false;
        } else if (cemail.test($('#email').val()) == false) {
            document.getElementById("email").style.border = "1px solid red";
            $("#email").notify(
                "Enter Valid Email.",
                { position: "right" }
            );
        } else {
             $("#email").notify('', {
                style: 'happyblue',
                position: "right"
            }); 
            document.getElementById("email").style.border = "1px solid #00FF00";
        }
    }
    function pcheck() {
        $('#password, #cpassword').on('keyup', function () {
            if ($('#cpassword').val() === '') {
                document.getElementById("cpassword").style.border = "";
            }
            else if ($('#password').val() != $('#cpassword').val()  ) {
                document.getElementById("cpassword").style.border = "1px solid red";
                $("#cpassword").notify(
                    "Password doesn't match.",
                    { position: "right" }
                );
            } else {
                $("#cpassword").notify('', {
                    style: 'happyblue',
                    position: "right"
                }); 

                document.getElementById("cpassword").style.border = "1px solid #00FF00";
            }
        });
    }
</script>

    <script type="text/javascript" src="/assets/js/enquire.min.js"></script>
    <!-- Load Enquire -->
    <script type="text/javascript" src="/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/assets/plugins/velocityjs/velocity.min.js"></script>
    <!-- Load Velocity for Animated Content -->
    <script type="text/javascript" src="/assets/plugins/velocityjs/velocity.ui.min.js"></script>

    <script type="text/javascript" src="/assets/plugins/wijets/wijets.js"></script>
    <!-- Wijet -->

    <script type="text/javascript" src="/assets/plugins/codeprettifier/prettify.js"></script>
    <!-- Code Prettifier  -->
    <script type="text/javascript" src="/assets/plugins/bootstrap-switch/bootstrap-switch.js"></script>
    <!-- Swith/Toggle Button -->

    <script type="text/javascript" src="/assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>
    <!-- Bootstrap Tabdrop -->

    <script type="text/javascript" src="/assets/plugins/iCheck/icheck.min.js"></script>
    <!-- iCheck -->

    <script type="text/javascript" src="/assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->

    <script type="text/javascript" src="/assets/js/application.js"></script>
    <script type="text/javascript" src="/assets/demo/demo.js"></script>
    <script type="text/javascript" src="/assets/demo/demo-switcher.js"></script>

    <script type="text/javascript" src="/assets/plugins/form-validation/jquery.validate.min.js"></script>
    <!-- Validate Plugin -->
    <script type="text/javascript" src="/assets/plugins/form-stepy/jquery.stepy.js"></script>
    <!-- Stepy Plugin  for form-->
    <script type="text/javascript" src="/assets/demo/demo-formwizard.js"></script>
    <script type="text/javascript" src="/assets/plugins/form-jasnyupload/fileinput.min.js"></script>
    <!-- File Input -->
    <!-- End loading site level scripts -->