<style>
    .notifyjs-happyblue-base {
        white-space: nowrap;
        background-color: #DFF0D8;
        padding: 5px;
    }

    .notifyjs-happyblue-superblue {
        color: white;
        background-color: #DFF0D8;
    }
    </style>
<body class="focused-form animated-content">
    <div class="container" id="login-form">
        <a href="/" class="login-logo">
            <img src="/assets/img/logo.png">
        </a>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Enter New password </h2>
                    </div>
                    <div class="panel-body">
                    {{> _msg}} {{> _err}}
                        <form  method="post" class="form-horizontal" id="validate-form">
                            <div class="form-group mb-md">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="ti ti-user"></i>
                                        </span>
                                        <input id="password" type="password" onfocusout="pcheck()" name="sNewPassword" class="form-control" placeholder="Enter Password" aria-describedby="basic-addon3" required >
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-md">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="ti ti-user"></i>
                                        </span>
                                        <input id="cpassword" type="password" name="sNewPassword2"  onkeyup="pcheck()" class="form-control" placeholder="Confirm Password" aria-describedby="basic-addon3" required >
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="panel-footer">
                        <div class="clearfix">
                            <button class="btn btn-info pull-right" type="submit" name="Submit">Submit</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <script type="text/javascript" src="/assets/js/jquery-1.10.2.min.js"></script>
        <!-- Load jQuery -->
        <script type="text/javascript" src="/assets/js/jqueryui-1.10.3.min.js"></script>
        <!-- Load jQueryUI -->
        <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
        <!-- Load Bootstrap -->
        <script src="/assets/js/notify.js"></script>
    <script>
        $.notify.addStyle('happyblue', {
            html: "<div><span data-notify-text/></div>",
            classes: {
                base: {
                    "white-space": "nowrap",
                    "background-color": "#DFF0D8",
                    "padding": "5px"
                },
                superblue: {
                    "color": "white",
                    "background-color": "#DFF0D8"
                }
            }
        });
    function pcheck() {
        $('#password, #cpassword').on('keyup', function () {
            if ($('#cpassword').val() === '') {
                document.getElementById("cpassword").style.border = "";
            }
            else if ($('#password').val() != $('#cpassword').val()) {
                document.getElementById("cpassword").style.border = "1px solid red";
                $("#cpassword").notify(
                    "Password doesn't match.",
                    { position: "right" }
                );
            } else {
                $("#cpassword").notify('', {
                    style: 'happyblue',
                    position: "right"
                });

                document.getElementById("cpassword").style.border = "1px solid #00FF00";
            }
        });
    }
</script>

    <script type="text/javascript" src="/assets/js/enquire.min.js"></script>
    <!-- Load Enquire -->

    <script type="text/javascript" src="/assets/plugins/velocityjs/velocity.min.js"></script>
    <!-- Load Velocity for Animated Content -->
    <script type="text/javascript" src="/assets/plugins/velocityjs/velocity.ui.min.js"></script>

    <script type="text/javascript" src="/assets/plugins/wijets/wijets.js"></script>
    <!-- Wijet -->

    <script type="text/javascript" src="/assets/plugins/codeprettifier/prettify.js"></script>
    <!-- Code Prettifier  -->
    <script type="text/javascript" src="/assets/plugins/bootstrap-switch/bootstrap-switch.js"></script>
    <!-- Swith/Toggle Button -->

    <script type="text/javascript" src="/assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>
    <!-- Bootstrap Tabdrop -->

    <script type="text/javascript" src="/assets/plugins/iCheck/icheck.min.js"></script>
    <!-- iCheck -->

    <script type="text/javascript" src="/assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->

    <script type="text/javascript" src="/assets/js/application.js"></script>
    <script type="text/javascript" src="/assets/demo/demo.js"></script>
    <script type="text/javascript" src="/assets/demo/demo-switcher.js"></script>